.login-page {
    width: 400px;
    height: 400px;
    margin: 100px auto;
  }
  
  .login-inner {
    padding: 5px 20px;
    border-radius: 5px;
    background: #f8f8f7;
    font-weight: bolder;
  }
  
  .brand-div {
    /* height: 100px; */
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .brand-text {
    text-align: center;
    align-self: center;
    clear: both;
    font-size: 30px;
    text-decoration: none;
    color: #111;
    /* text-shadow: 2px 2px rgb(189, 186, 186); */
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 50%;
  }

.ob-text-field {
    border: 1px solid #b3b3b3;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: block;
  }

  .link{
      color: blue;
  }
  .link:hover{
      cursor: pointer;
      text-decoration: underline;
  }

  ._381fS{
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }
  ._26LFr {
    -ms-transform: translateY(70%);
    transform: translateY(70%);
  }
  ._25qBi {
    position: relative;
    clear: both;
  }
  
  ._2-hTu {
    clear: both;
    margin-top: 20px;
  }
  ._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
  }
  ._1Cvlf {
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform,color,font-size;
    pointer-events: none;
    font-weight: 400;
  }
  ._2EeI1 {
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
    transform: translateZ(0);
    cursor: pointer;
    will-change: transform;
    transition: .2s ease;
  }
  ._2REYC {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    letter-spacing: 0;
    color: #fff;
    background-color: #60b246;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  }
  