.create-account-page {
    padding: 10px;
    border-radius: 5px;
    width: 450px;
    height: auto;
    background-color: #f7f7f7;
    margin: 10px auto;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: block;
}

.ob-text-field {
    border: 1px solid #b3b3b3;
}