.login-page {
    width: 400px;
    height: 400px;
    margin: 100px auto;
  }
  
  .login-inner {
    padding: 30px;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-weight: bolder;
  }
  
  .brand-div {
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .brand-text {
    text-align: center;
    align-self: center;
    clear: both;
    font-size: 30px;
    text-decoration: none;
    color: #111;
    /* text-shadow: 2px 2px rgb(189, 186, 186); */
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 50%;
  }

.ob-text-field {
    border: 1px solid #b3b3b3;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: block;
  }

  .link{
      color: blue;
  }
  .link:hover{
      cursor: pointer;
      text-decoration: underline;
  }