<div class="vertical chef-card" (click)="selectChef()">
    <div class="chef-box">
        <img width="100%" height="100%" src="{{chef.coverPhoto}}" alt="..." (click)="selectChef()" class="chef-card-img">
    </div>
    <div class="between" style="margin: 10px 0">
        <span style="font-weight: 500;font-size: 16px;">{{chef.name}}</span>
        <div class="horizontal">
            <div class="ratings-div">
                <img [src]="chef.rating > 0 ? starSelected : star" style="width: 10px;height: 10px;">
                <img [src]="chef.rating > 1 ? starSelected : star" style="width: 10px;height: 10px;">
                <img [src]="chef.rating > 2 ? starSelected : star" style="width: 10px;height: 10px;">
                <img [src]="chef.rating > 3 ? starSelected : star" style="width: 10px;height: 10px;">
                <img [src]="chef.rating > 4 ? starSelected : star" style="width: 10px;height: 10px;">
            </div>
            <span>({{chef.reviews}})</span>
        </div>
    </div>
    <div class="float">
        <span *ngFor="let spl of chef.specials" style="padding: 0 10px 0 0;">{{spl}}</span>
    </div>
</div>