.chef-card {
  width: 271px;
    height: 293px;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 10px;
  z-index: 2;
  margin-right: 30px;
  border: 1px solid #fff;
  padding: 10px;
  /* border-radius: 12px; */
}
.chef-card:hover{
  cursor: pointer;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .1);
}

.chef-box{
  width: 250px;
  height: 210px;
  overflow: hidden;
  background-color: white;
  /* border-radius: 12px; */
}

.chef-card-img-div {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.chef-card-img {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.chef-card-img:hover {
  transform: scale(1.08);
}
