<app-header></app-header>
<div class="container-fluid" style="height: 100%;width: 100%;margin: 0;" *ngIf="foodOrder !== null && foodOrder !== undefined">
    <div style="display: flex;flex-flow: row; flex-wrap: wrap;">
        <div style="border: 1px solid #ededf4;border-radius: 8px;padding: 10px;margin: 10px 10px 10px 0;">
            <span style="padding: 10px; text-align: center;font-size: 20px;height: 50px;line-height: 50px;">Your
                Order #{{foodOrder.reference}} </span>
            <div *ngIf="foodOrder !== undefined" class="order-content-section" style="overflow-y: auto;margin: 0 10px;">
                <div>
                    <app-food-order-item [item]="item" *ngFor="let item of foodOrder.items"></app-food-order-item>
                </div>

                <div style="margin: 10px 0;">
                    <span style="font-weight: 500;font-size: 13px;color: #282c3f;padding: 10px;">Bill Details</span>
                </div>
                <div class="d-flex justify-content-between align-items-center"
                    style="padding:3px 10px;font-weight: 300;">
                    <span style="vertical-align: middle;font-size: 12px; color: #686b78;">Item Total</span>
                    <span
                        style="font-size: 13px;align-self: center;vertical-align: middle;font-weight: 360;">{{foodOrder.subTotal
                        | currency: 'GBP'}}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center"
                    style="padding:3px  10px;font-weight: 300;">
                    <span style="vertical-align: middle;font-size: 12px; color: #686b78;">Delivery Fee</span>
                    <span
                        style="font-size: 13px;align-self: center;vertical-align: middle;font-weight: 360;">{{foodOrder.deliveryFee
                        | currency: 'GBP'}}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center"
                    style="border-top: 1px solid #e3e3e3;padding:6px  10px;font-weight: 300;">
                    <span style="vertical-align: middle;font-size: 12px; color: #686b78;">Taxes and Charges</span>
                    <span
                        style="font-size: 13px;align-self: center;vertical-align: middle;font-weight: 360;">{{foodOrder.saleTax
                        | currency: 'GBP'}}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center"
                    style="border-top: 1px solid #e3e3e3;padding: 10px;">
                    <span style="vertical-align: middle;font-size: 14px;">ORDER TOTAL</span>
                    <span
                        style="font-size: 13px;align-self: center;vertical-align: middle;font-weight: 360;">{{foodOrder.total
                        | currency: 'GBP'}}</span>
                </div>
            </div>
        </div>
        <div style="border: 1px solid #ededf4;border-radius: 8px;padding: 10px;margin: 10px 10px 10px 0;">
            <span style="padding: 10px; text-align: center;font-size: 20px;height: 50px;line-height: 50px;">Your
                Chef</span>
            <div class="d-flex flex-start">
                <img src="/assets/icons/coffee-cup.png" style="width: 20px; height: 20px;margin: 20px;"
                    alt="{{foodOrder.chef.name}}">
                <div class="d-flex flex-column">
                    <span
                        style="font-size: 17px;color: #282c3f;font-weight: 500;text-overflow: ellipsis;overflow: hidden; white-space: nowrap;padding: 10px 0 2px 0;">{{localChef.name}}</span>
                    <span
                        style="font-size: 13px;font-weight: 380;padding: 1px 0;color: #686b78;">{{getChefAddress()}}</span>
                </div>
            </div>
            <div *ngIf="foodOrder.serviceMode === 'COLLECTION'" style="background-color: antiquewhite;padding: 10px;">
                <span>You will collect</span>
            </div>
            <div *ngIf="foodOrder.serviceMode === 'DELIVERY'" style="margin-top: 10px;" class="d-flex flex-column">
                <span style="padding: 10px;font-size: 20px;height: 50px;line-height: 50px;">Delivery Address</span>

                <div style="padding: 10px;" class="d-flex flex-column">
                    <span *ngIf="foodOrder.customer.fullName !== null && foodOrder.customer.fullName !== undefined"
                        style="font-size: 13px;font-weight: 380;padding: 1px 0;color: #686b78;">{{foodOrder.customer.fullName}}</span>
                    <span
                        *ngIf="foodOrder.customer.address.addressLine1 !== null && foodOrder.customer.address.addressLine1 !== undefined"
                        style="font-size: 13px;font-weight: 380;padding: 1px 0;color: #686b78;">{{foodOrder.customer.address.addressLine1}}</span>
                    <span
                        *ngIf="foodOrder.customer.address.addressLine2 !== null && foodOrder.customer.address.addressLine2 !== undefined"
                        style="font-size: 13px;font-weight: 380;padding: 1px 0;color: #686b78;">{{foodOrder.customer.address.addressLine2}}</span>
                    <span
                        *ngIf="foodOrder.customer.address.city !== null && foodOrder.customer.address.city !== undefined"
                        style="font-size: 13px;font-weight: 380;padding: 1px 0;color: #686b78;">{{foodOrder.customer.address.city}}</span>
                    <span
                        *ngIf="foodOrder.customer.address.postcode !== null && foodOrder.customer.address.postcode !== undefined"
                        style="font-size: 13px;font-weight: 380;padding: 1px 0;color: #686b78;">{{foodOrder.customer.address.postcode}}</span>
                </div>
            </div>
        </div>
    </div>

</div>