.nav-section {
    width: 250px;
    border-radius: 10px;
    margin: 0 10px;
    clear: both;
}

.nav-section-header {
    font-size: 14px;
    padding: 10px 0;
    display: block;
}
.category-section{
    margin: 10px 0;
    background-color: #f5f4f4;
    padding: 10px;
}
.sort-section{
    margin: 10px 0;
    background-color: #f5f4f4;
    padding: 10px;
}

.brand-section{
    margin: 10px 0;
    background-color: #f5f4f4;
    padding: 10px;
}
.main-section {
    min-width: 100%;
    margin: 0 10px;
    padding: 0 10px;
    align-self: flex-start;
}

.brand-selector{
    margin-left: 20px;
    cursor: pointer;
}