.page {
    margin-top: 70px;
}

.nav-section {
    width: 250px;
    clear: both;
    margin: 10px;
    /* height: 700px; */
    padding: 10px 5px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.nav-section-header {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

.main-section {
    width: 850px;
    clear: both;
    margin: 10px;
    height: 700px;
    padding: 10px;
}