<app-header></app-header>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="flex-start">
    <div class="nav-section flex-column">
      <div class="category-section">
        <span
          class="nav-section-header">{{(department !== undefined && department !== null)? department.name : ""}}</span>
        <tree-root #tree [nodes]="menuItems" [options]="options" (activate)="onEvent($event)"></tree-root>
      </div>

      <div class="sort-section">
        <span class="nav-section-header">Sort</span>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="low" checked
            (change)="handleChange($event, 'low')">
          <label class="form-check-label normal" for="low">
            Lowest First
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="high"
            (change)="handleChange($event, 'high')">
          <label class="form-check-label normal" for="high">
            Highest First
          </label>
        </div>
      </div>
      <div class="brand-section" *ngIf="brands.length > 0">
        <span class="nav-section-header">Featured Brands</span>
        <div class="form-check form-switch ml-3" *ngFor="let b of brands">
          <input class="form-check-input" type="checkbox" id="{{b._id}}" (change)="selectBrand(b._id,$event)">
          <label class="form-check-label" for="{{b._id}}">{{b.name}}</label>
        </div>
      </div>
    </div>
    <div class="container-fluid flex-start overflow-y wrap">
      <div *ngFor="let p of products">
        <app-item [product]="p"></app-item>
      </div>
    </div>
  </div>

</div>
