<div class="bt-page container-fluid">
    <div class="h-flex justify-content-center wrap">
        <div class="left-nav-section">
            <h3>Profile</h3>
            <hr>
            <ul>
                <div class="nav-item " (click)="showAboutYouModule()">
                    <img src="/assets/icons/resume.png" height="30px" width="30px" class="nav-item-icon">
                    <li class="nav-item-text">Personal Details</li>
                </div>
                <div class="nav-item " (click)="showSecurityModule()">
                    <img src="/assets/icons/cyber-security.png" height="30px" width="30px" class="nav-item-icon">
                    <li class="nav-item-text">Login & Security</li>
                </div>
                <div class="nav-item " (click)="showAddressModule()">
                    <img src="/assets/icons/pin.png" height="30px" width="30px" class="nav-item-icon">
                    <li class="nav-item-text">Your Addresses</li>
                </div>
                <div class="nav-item " (click)="showPaymentsModule()">
                    <img src="/assets/icons/credit-card.png" height="30px" width="30px" class="nav-item-icon">
                    <li class="nav-item-text">Your Payments</li>
                </div>
                <div class="nav-item " (click)="showOrdersModule()">
                    <img src="/assets/icons/delay.png" height="30px" width="30px" class="nav-item-icon">
                    <li class="nav-item-text">Your Orders</li>
                </div>
            </ul>
        </div>
        <div class="detail-section">
            <div class="d-flex justify-content-between">
                <h5 class="text-dark">{{moduleName}}</h5>
            </div>
            <hr>
            <div *ngIf="displayAboutYouModule == true">
                <form #personalDetailsForm="ngForm" (ngSubmit)=(onSubmitPersonalDetails(personalDetailsForm))>
                    <div class="mb-3 ml-3">
                        <label for="firstNamePersonalDetails">Email</label>
                        <input type="text" class="form-control" id="emailPersonalDetails" placeholder="" required [(ngModel)]="user.email" name="emailPersonalDetails" #emailPersonalDetails="ngModel" disabled>
                    </div>
                    <div class="mb-3 ml-3">
                        <label for="firstNamePersonalDetails">First name</label>
                        <input type="text" class="form-control" id="firstNamePersonalDetails" placeholder="" required [(ngModel)]="user.firstName" name="firstNamePersonalDetails" #firstNamePersonalDetails="ngModel">
                    </div>
                    <div class="mb-3 ml-3">
                        <label for="lastNamePersonalDetails">Last name</label>
                        <input type="text" class="form-control" id="lastNamePersonalDetails" placeholder="" required [(ngModel)]="user.lastName" name="lastNamePersonalDetails" #lastNamePersonalDetails="ngModel">
                    </div>
                    <div class="mb-3 ml-3">
                        <label for="mobilePersonalDetails">Mobile</label>
                        <input type="text" class="form-control" id="mobilePersonalDetails" placeholder="" required [(ngModel)]="user.mobile" name="mobilePersonalDetails" #mobilePersonalDetails="ngModel">
                    </div>
                    <button [disabled]="loading" class="btn
                        btn-primary ml-3">
                        <span *ngIf="loading" class="spinner-border
                            spinner-border-sm mr-1"></span>
                        Submit
                    </button>
                </form>
            </div>
            <div *ngIf="displaySecurityModule == true">
                <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmitChangePassword()">
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" formControlName="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.currentPassword.errors }" />
                        <div *ngIf="passwordChangeSubmitted && changePasswordForm.currentPassword.errors" class="invalid-feedback">
                            <div *ngIf="changePasswordForm.currentPassword.errors.required">Your Current Password is required</div>
                        </div>
                        <!-- <span *ngIf="passwordChangeSubmitted && isPasswordValid()" class="passwordNotMatched mb-2">Password is not correct</span> -->
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.newPassword.errors }" />
                        <small class="text-muted pl-2 py-1">Password must be minimum 8 chars and contain at least a number.</small>
                        <div *ngIf="passwordChangeSubmitted && changePasswordForm.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="changePasswordForm.newPassword.errors.required">New Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Repeat Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.confirmPassword.errors }" autocomplete="off" />
                        <div *ngIf="passwordChangeSubmitted && changePasswordForm.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="changePasswordForm.confirmPassword.errors.required">Repeat Password is required</div>
                        </div>
                        <span *ngIf="passwordChangeSubmitted && changePasswordForm.confirmPassword.value !== changePasswordForm.newPassword.value" class="passwordNotMatched mb-2">Password is not matched</span>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary btn-load" data-loading-text="Changing Password..."> 
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Change Password
                        </button>
                    </div>
                </form>
                <div *ngIf="passwordChangeSuccessful==true" class="alert alert-success h-flex justify-content-between wrap" role="alert">
                    Your password change successful. Remember to login back with your new password.
                    <button class="btn btn-sm btn-info">Ok</button>
                </div>
            </div>
            <div *ngIf="displayAddressModule == true">
                <ng-container *ngIf="addressList.length == 0; then thenBlock;
                    else
                    elseBlock">
                </ng-container>
                <ng-template #thenBlock>
                    <span class="basket-no-items">
                        You have no address registered. <button type="button"
                            class="btn btn-sm btn-outline-primary ml-1"
                            (click)="onAddAddress()">Add</button>
                    </span>
                </ng-template>
                <ng-template #elseBlock>
                    <div [hidden]="hideAddressSection==true">
                        <div class="space-around" *ngFor="let a of addressList">
                            <div class="address-item bg-light">
                                <div>
                                    <strong>{{ a.firstName }} {{ a.lastName }}</strong>
                                </div>
                                <span>{{ a.lineNumber1 }}</span>
                                <span>{{ a.lineNumber2 }}</span>
                                <span>{{ a.city }}</span>
                                <span>{{ a.country }}</span>
                                <span>{{ a.postcode }}</span>
                                <div class="h-flex align-items-start wrap my-2">
                                    <button type="button" class="btn btn-sm
                                        btn-outline-secondary mr-1 box-shadow" (click)="editAddress(a)">Edit this address</button>
                                    <button type="button" class="btn btn-sm
                                        btn-outline-danger mr-1 box-shadow" (click)="removeAddress(a)">Remove this</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="hideAddressForm==true">
                        <form #addressForm="ngForm" (ngSubmit)=(onSubmitAddress(addressForm))>
                            <div class="h-flex align-items-start wrap">
                                <div class="address-form-col-half mb-3 ml-3">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName" [(ngModel)]="address.firstName" placeholder="" value="" name="firstName" #firstName="ngModel" required>
                                    <!-- <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                                </div> -->
                                </div>
                                <div class="address-form-col-half mb-3 ml-3">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required [(ngModel)]="address.lastName" name="lastName" #lastName="ngModel">
                                    <!-- <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                                    Last name is required
                                </div> -->
                                </div>
                            </div>
                            <div class="mb-3 ml-3">
                                <label for="mobile">Mobile <span
                                        class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="mobile" placeholder="" value="" required [(ngModel)]="address.mobile" name="mobile" #mobile="ngModel">
                            </div>
                            <div class="mb-3 ml-3">
                                <label for="lineNumber1">Address</label>
                                <input type="text" class="form-control" id="lineNumber2" placeholder="1234, Main St" required [(ngModel)]="address.lineNumber1" name="lineNumber1" #lineNumber1="ngModel">
                            </div>

                            <div class="mb-3 ml-3">
                                <label for="lineNumber2">Address 2 <span
                                        class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="lineNumber2" placeholder="Apartment or
                                    suite" [(ngModel)]="address.lineNumber2" value="" name="lineNumber2" #lineNumber2="ngModel">
                            </div>

                            <div class="h-flex justify-start wrap">
                                <div class="address-form-col-1-3 mb-3 ml-3">
                                    <label for="city">City/Town</label>
                                    <input type="text" class="form-control" id="city" placeholder="Glasgow" required [(ngModel)]="address.city" name="city" #city="ngModel">
                                    <!-- <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                                    Please enter a valid City/Town.
                                </div> -->
                                </div>
                                <div class="address-form-col-1-3 mb-3 ml-3">
                                    <label for="country">Country</label>
                                    <select class="custom-select d-block w-100" id="country" required [(ngModel)]="address.country" name="country" #country="ngModel">
                                        <option value="">Select...</option>
                                        <option>United Kingdom</option>
                                        <option>United States</option>
                                        <option>United India</option>
                                    </select>
                                    <!-- <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
                                    Please select a Country.
                                </div> -->
                                </div>
                                <div class="address-form-col-1-3 mb-3 ml-3">
                                    <label for="postcode">Post/Zip code</label>
                                    <input type="text" class="form-control" id="postcode" placeholder="" required [(ngModel)]="address.postcode" name="postcode" #postcode="ngModel">
                                    <!-- <div [hidden]="postcode.valid || postcode.pristine" class="alert alert-danger">
                                    Please enter a valid Postal/Zip/Pin Code.
                                </div> -->
                                </div>
                            </div>
                            <div class="h-flex">
                                <button type="submit" class="btn btn-sm
                                    btn-primary
                                    m-1 ml-3" [disabled]="!addressForm.form.valid">Submit</button>
                                <button class="btn btn-sm btn-secondary m-1
                                    ml-3" (click)="closeAddressForm()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </div>
            <div *ngIf="displayPaymentsModule == true">
                <div [hidden]="hidePaymentForm==true">
                    <form #paymentForm="ngForm" (ngSubmit)=(onSubmitPaymentMethod(paymentForm))>
                        <div class="custom-control custom-radio">
                            <div class="d-flex justify-content-between p-2">
                                <div>
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required (click)="selectType('Credit')">
                                    <label class="custom-control-label" for="credit">Credit Card</label>
                                </div>
                                <div>
                                    <img src="/assets/icons/visa.png" width="50px" height="32px" class="mr-1
                                            border-box px-2 rounded-lg">
                                    <img src="/assets/icons/mastercard.png" width="50px" height="32px" class="mr-1
                                            border-box px-2 rounded-lg">
                                    <img src="/assets/icons/american-express.png" width="50px" height="32px" class="mr-1
                                            border-box px-2 rounded-lg">
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label for="nameOnCard">Name on card</label>
                            <input type="text" class="form-control" id="nameOnCard" placeholder="" required [(ngModel)]="paymentCard.nameOnCard" name="nameOnCard" #nameOnCard="ngModel">
                            <small class="text-muted">Full name as displayed on card</small>
                        </div>
                        <div class="col mb-3">
                            <label for="cardNumber">Card number</label>
                            <input type="text" maxlength="16" class="form-control" id="cardNumber" placeholder="" required [(ngModel)]="paymentCard.cardNumber" name="cardNumber" #cardNumber="ngModel">
                            <small class="text-muted">16 digit number without gap</small>
                        </div>
                        <div class="d-flex justify-content-between  px-3">
                            <div class="mb-3 form-group">
                                <label for="expiration">Expiration Date</label>
                                <div class="h-flex justify-content-start">
                                    <!-- <select [(ngModel)]="expirationMonth" name="expiration" required class="form-control mr-1" id="expiration">
                                                <option *ngFor="let m of monthsOptions" [ngValue]="m">{{m}}</option>
                                        </select> -->
                                    <input type="text" maxlength="2" class="form-control expiry-input" id="expiryMonth" placeholder="DD" required [(ngModel)]="paymentCard.expiryMonth" name="expiryMonth" #expiryMonth="ngModel">
                                    <!-- <select [(ngModel)]="expirationYear" name="expiration" required class="form-control" id="expiration">
                                                <option *ngFor="let y of yearsOptions" [ngValue]="y">{{y}}</option>
                                        </select> -->
                                    <input type="text" maxlength="2" class="form-control expiry-input" id="expiryYear" placeholder="YY" required [(ngModel)]="paymentCard.expiryYear" name="expiryYear" #expiryYear="ngModel">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="cvv">CVV</label>
                                <input type="text" maxlength="3" class="form-control cvv-input" id="cvv" placeholder="" required [(ngModel)]="paymentCard.cvv" name="cvv" #cvv="ngModel">
                            </div>
                        </div>
                        <div class="d-flex justify-content-start  px-3">
                            <button type="submit" class="btn btn-sm btn-primary m-1" [disabled]="!paymentForm.form.valid">Submit</button>
                            <button class="btn btn-sm btn-secondary m-1" (click)="cancelPaymentForm()">Cancel</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="hidePaymentForm">
                    <div class="d-flex justify-content-between p-2">
                        <button type="button" class="btn btn-sm
                                        btn-outline-secondary mr-1 box-shadow" (click)="addNewPaymentMethod()">Add a payment card</button>
                    </div>
                    <div class="d-flex justify-content-between payment-card bt-border my-2" *ngFor="let p of paymentCardList">
                        <div class="d-flex justify-content-start">
                            <img src="/assets/icons/credit-card.png" width="50px" height="32px" class="mr-1 border-box px-2 rounded-lg align-self-center">
                            <!-- Payment Item -->
                            <div class="payment-card-details">
                                <div class="d-flex justify-content-start">
                                    <strong>Card Ending</strong>
                                    <span class="pl-2">{{ getMaskedCardNumber(p) }}</span>
                                </div>
                                <div class="">
                                    <span class="mr-2">{{ p.nameOnCard}}</span>
                                    <span class="">{{ p.expiryMonth}}/{{p.expiryYear}}</span>
                                </div>
                                <div class="d-flex justify-content-start mt-3 btn-group-justified">
                                    <div class="btn-group ">
                                        <button class="btn btn-outline-secondary btn-sm mr-1 box-shadow" (click)="usePaymentMethod(p)">Set as default</button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-outline-secondary btn-sm mr-1 box-shadow" (click)="editPaymentMethod(p)">Edit details</button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-outline-secondary btn-sm mr-1 box-shadow" (click)="removePaymentMethod(p)">Remove this</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isError" class="alert alert-warning result">
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>