.left-nav-section {
    width: 25%;
    height: 100%;
    padding: 15px;
    border-radius: 3px;
    margin: 10px;
    background: #f8f8f8;
    border: 1px solid #ebf3ff;
    clear: both;
}

.detail-section {
    background: #f8f8f8;
    border: 1px solid #ebf3ff;
    clear: both;
    border-radius: 3px;
    padding: 15px;
    clear: both;
    width: 60%;
    margin: 10px;
}

.nav-item {
    line-height: 50px;
    flex-direction: row;
    align-items: center;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 15px 5px;
    padding: 0 10px;
    vertical-align: center;
}

.nav-item-icon {
    float: left;
}

.nav-item-text {
    float: left;
    margin: 0 10px;
}

.nav-item:hover {
    background-color: #ebf3ff;
    cursor: pointer;
    -webkit-box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .1);
}


/** Address */

.address-item {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 5px;
    padding: 15px;
}


/** Payment */

.payment-card {
    margin: 10px;
    padding: 10px;
}

.passwordNotMatched {
    font-style: italic;
    color: coral;
}

.result {
    margin-top: 10px;
    padding: 20px;
}