<app-header></app-header>
<div class="container-fluid">
  <div class="flex-start">
    <div class="nav-section d-flex flex-column">
      <span class="nabvar-heading">Your Account</span>
      <div class="p-3 bg-white" style="width: 280px;">
        <!-- <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-5 fw-semibold">Your Account</span>
        </a> -->
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
              data-bs-target="#home-collapse" aria-expanded="true">
              Personal Details
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ml-1">
                <li><a (click)="showAboutYouModule()" class="link-dark rounded nav-item">Change contact details</a></li>
                <li><a (click)="showAddressModule()" class="link-dark rounded nav-item">Change address</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
              data-bs-target="#dashboard-collapse" aria-expanded="false">
              Login and Security
            </button>
            <div class="collapse show" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ml-1">
                <li><a (click)="showSecurityModule()" class="link-dark rounded nav-item">Change Password</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded " data-bs-toggle="collapse"
              data-bs-target="#orders-collapse" aria-expanded="false">
              Orders
            </button>
            <div class="collapse show" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ml-1">
                <li><a (click)="showOrders('CREATED')" class="link-dark rounded nav-item">Open Orders</a></li>
                <li><a (click)="showOrders('SHIPPED')" class="link-dark rounded nav-item">Shipped Orders</a></li>
                <li><a (click)="showOrders('COMPLETED')" class="link-dark rounded nav-item">Completed Orders</a></li>
                <li><a (click)="showOrders('CANCELLED')" class="link-dark rounded nav-item">Cancelled Orders</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="detail-section">
      <span class="fs-5 fw-semibold">{{moduleName}}</span>
      <div class="border-top my-3"></div>
      <div *ngIf="displayAboutYouModule == true" style="width: 400px;">
        <form #personalDetailsForm="ngForm" (ngSubmit)=(onSubmitPersonalDetails(personalDetailsForm))>
          <div class="mb-3 ml-3">
            <label for="firstNamePersonalDetails">Email</label>
            <input type="text" class="form-control ob-text-field" id="emailPersonalDetails" placeholder="" required
              [(ngModel)]="customer.contact.email" name="emailPersonalDetails" #emailPersonalDetails="ngModel" disabled>
          </div>
          <div class="mb-3 ml-3">
            <label for="firstNamePersonalDetails">First name</label>
            <input type="text" class="form-control ob-text-field" id="firstNamePersonalDetails" placeholder="" required
              [(ngModel)]="customer.firstName" name="firstNamePersonalDetails" #firstNamePersonalDetails="ngModel">
          </div>
          <div class="mb-3 ml-3">
            <label for="lastNamePersonalDetails">Last name</label>
            <input type="text" class="form-control ob-text-field" id="lastNamePersonalDetails" placeholder="" required
              [(ngModel)]="customer.lastName" name="lastNamePersonalDetails" #lastNamePersonalDetails="ngModel">
          </div>
          <div class="mb-3 ml-3">
            <label for="mobilePersonalDetails">Mobile</label>
            <input type="text" class="form-control ob-text-field" id="mobilePersonalDetails" placeholder="" required
              [(ngModel)]="customer.contact.mobile" name="mobilePersonalDetails" #mobilePersonalDetails="ngModel">
          </div>
          <button [disabled]="loading" class="ml-3 btn-s">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
          </button>
        </form>
      </div>
      <div *ngIf="displaySecurityModule == true" style="width: 400px;">
        <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmitChangePassword()">
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" formControlName="currentPassword" class="form-control ob-text-field"
              [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.currentPassword.errors }" />
            <div *ngIf="passwordChangeSubmitted && changePasswordForm.currentPassword.errors" class="invalid-feedback">
              <div *ngIf="changePasswordForm.currentPassword.errors.required">Your Current Password is required</div>
            </div>
            <!-- <span *ngIf="passwordChangeSubmitted && isPasswordValid()" class="passwordNotMatched mb-2">Password is not correct</span> -->
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control ob-text-field"
              [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.newPassword.errors }" />
            <small class="text-muted pl-2 py-1">Password must be minimum 8 chars and contain at least a number.</small>
            <div *ngIf="passwordChangeSubmitted && changePasswordForm.newPassword.errors" class="invalid-feedback">
              <div *ngIf="changePasswordForm.newPassword.errors.required">New Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Repeat Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control ob-text-field"
              [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.confirmPassword.errors }"
              autocomplete="off" />
            <div *ngIf="passwordChangeSubmitted && changePasswordForm.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="changePasswordForm.confirmPassword.errors.required">Repeat Password is required</div>
            </div>
            <span
              *ngIf="passwordChangeSubmitted && changePasswordForm.confirmPassword.value !== changePasswordForm.newPassword.value"
              class="passwordNotMatched mb-2">Password is not matched</span>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn-s btn-load" data-loading-text="Changing Password...">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Change Password
            </button>
          </div>
        </form>
        <div *ngIf="passwordChangeSuccessful==true" class="alert alert-success h-flex justify-content-between wrap"
          role="alert">
          Your password change successful. Remember to login back with your new password.
          <button class="btn-g">Ok</button>
        </div>
      </div>
      <div *ngIf="displayAddressModule == true" style="width: 500px;">
        <ng-container *ngIf="address !== null && address !== undefined ; then thenBlock;
                    else
                    elseBlock">
        </ng-container>
        <ng-template #thenBlock>
          <span class="basket-no-items">
            You have no address registered. <button type="button" class="btn-g ml-1"
              (click)="onAddAddress()">Add</button>
          </span>
        </ng-template>
        <ng-template #elseBlock>
          <div [hidden]="hideAddressSection==true">
            <!-- <div class="space-around" *ngFor="let a of addressList" [class.selected]="a.selected"> -->
            <div class="address-item bg-light">
              <span>{{ address.addressLine1 }}</span>
              <span>{{ address.addressLine2 }}</span>
              <span>{{ address.city }}</span>
              <span>{{ address.country }}</span>
              <span>{{ address.postcode }}</span>
              <div class="h-flex align-items-start wrap my-2">
                <button type="button" class="btn-g mr-1" (click)="editAddress()">Edit this
                  address</button>
                <button type="button" class="btn-s mr-1" (click)="removeAddress()">Remove this</button>
              </div>
            </div>
          </div>
          <div [hidden]="hideAddressForm==true">
            <form #addressForm="ngForm" (ngSubmit)=(onSubmitAddress(addressForm))>
              <div class="h-flex align-items-start wrap">
                <!-- <div class="address-form-col-half mb-3 ml-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control ob-text-field" id="firstName" [(ngModel)]="address.firstName"
                    placeholder="" value="" name="firstName" #firstName="ngModel" required>
                </div> -->
                <!-- <div class="address-form-col-half mb-3 ml-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control ob-text-field" id="lastName" placeholder="" value="" required
                    [(ngModel)]="address.lastName" name="lastName" #lastName="ngModel">
                </div> -->
              </div>
              <div class="mb-3 ml-3">
                <label for="mobile">Mobile <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control ob-text-field" id="mobile" placeholder="" value="" required
                  [(ngModel)]="customer.contact.mobile" name="mobile" #mobile="ngModel">
              </div>
              <div class="mb-3 ml-3">
                <label for="addressLine1">Address</label>
                <input type="text" class="form-control ob-text-field" id="addressLine2" placeholder="1234, Main St"
                  required [(ngModel)]="address.addressLine1" name="addressLine1" #addressLine1="ngModel">
              </div>

              <div class="mb-3 ml-3">
                <label for="addressLine2">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control ob-text-field" id="addressLine2" placeholder="Apartment or
                                    suite" [(ngModel)]="address.addressLine2" value="" name="addressLine2"
                  #addressLine2="ngModel">
              </div>

              <div class="h-flex justify-start wrap">
                <div class="address-form-col-1-3 mb-3 ml-3">
                  <label for="city">City/Town</label>
                  <input type="text" class="form-control ob-text-field" id="city" placeholder="Glasgow" required
                    [(ngModel)]="address.city" name="city" #city="ngModel">
                  <!-- <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                                    Please enter a valid City/Town.
                                </div> -->
                </div>
                <div class="address-form-col-1-3 mb-3 ml-3">
                  <label for="country">Country</label>
                  <select class="custom-select d-block w-100" id="country" required [(ngModel)]="address.country"
                    name="country" #country="ngModel">
                    <option value="">Select...</option>
                    <option>United Kingdom</option>
                    <option>United States</option>
                    <option>United India</option>
                  </select>
                  <!-- <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
                                    Please select a Country.
                                </div> -->
                </div>
                <div class="address-form-col-1-3 mb-3 ml-3">
                  <label for="postcode">Post/Zip code</label>
                  <input type="text" class="form-control ob-text-field" id="postcode" placeholder="" required
                    [(ngModel)]="address.postcode" name="postcode" #postcode="ngModel">
                  <!-- <div [hidden]="postcode.valid || postcode.pristine" class="alert alert-danger">
                                    Please enter a valid Postal/Zip/Pin Code.
                                </div> -->
                </div>
              </div>
              <div class="h-flex">
                <button type="submit" class="btn btn-s m-1 ml-3" [disabled]="!addressForm.form.valid">Submit</button>
                <button class="btn-g m-1ml-3" (click)="closeAddressForm()">Cancel</button>
              </div>
            </form>
          </div>
        </ng-template>
      </div>

      <div *ngIf="displayOrdersModule == true">
        <ng-container *ngIf="orders == null || orders == undefined || orders.length == 0; then thenBlock;
                else
                elseBlock">
        </ng-container>
        <ng-template #thenBlock>
          <span class="basket-no-items">
            You have no orders.
          </span>
        </ng-template>
        <ng-template #elseBlock>
          <div *ngFor="let item of orders">
            <app-order-item [order]=item *ngIf="status == item.status"></app-order-item>
          </div>
        </ng-template>
      </div>
      <div *ngIf="isError" class="alert alert-warning result">
        <p>{{message}}</p>
      </div>
    </div>
  </div>
</div>