.header {
  margin-top: 10px;
  color: #111;
  font-weight: bolder;
  padding: 20px;

}

.basket {
  background-color: #5469d4;
  padding: 5px 20px;
  margin: 0;
  font-size: 15px;
  color: #FFF;
}

.basket-container {
  display: flex;
  flex-direction: column;
  clear: both;
  padding: 15px;
  margin: 5px 20px;
}

.checkout-box {
  width: 300px;
  height: 300px;
  /* background-color: #f9fafc !important; */
  margin: 20px;
  /* background-color: #fff9f4; */
  border: 1px solid black;
  border-radius: 8px;
}

.basket-no-items {
  margin-top: 100px;
  width: 800px;
  padding: 30px;
  /* background-color: #ff9090; */
  background-color: #f2f2f2;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.cone-of-shame {
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
}

.basket-total{
  font-size: 30px;
  /* font-family: 'Libre Barcode 128 Text', cursive; */
}

.checkout-button{
  background-color: #222;
  padding: 15px;
  color: white;
  border: none;
}
