.basket-page {
    margin-top: 70px;
}

.basket-container {
    width: 50%;
    margin-right: 20px;
    border: 1px solid #ebf3ff;
    clear: both;
}

.checkout-box {
    width: 30%;
    background: #ebf3ff;
    border: 1px solid #ebf3ff;
    margin-left: 20px;
    border-radius: 12px;
}

.product-list {
    padding: 10px;
}

.product-list li {
    list-style-type: none;
    padding: 5px 10px 20px 10px;
}

.product-list li:hover {
    cursor: pointer;
    background: #ebf3ff;
    /* border-left: 1px solid #1a73e8; */
}