.basket-page {
    margin-top: 70px;
}

.basket-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    clear: both;
    border: 1px solid #ebf3ff;
    border-radius: 12px;
    padding: 15px;
}

.checkout-box {
    width: 300px;
    background: #fdfdfd;
    border: 1px solid #ebf3ff;
    margin-left: 20px;
    border-radius: 12px;
}