.login-page {
    margin-top: 70px;
    padding: 30px;
    border-radius: 5px;
    width: 40%;
    background-color: #f7f7f7;
    clear: both;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: block;
}

.passwordNotMatched {
    font-style: italic;
    color: coral;
}

.ob-btn {
    padding: 5px 30px;
    border: 1px solid #faedee;
    background-color: #faedee;
    border-radius: 20px;
}

.ob-btn:hover {
    border: 1px solid #fe4c54;
}