.login-page {
  width: 400px;
  height: 400px;
  margin: 100px auto;
}

.login-inner {
  padding: 30px;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-weight: bolder;
}

.brand-div {
  height: 100px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.brand-text {
  text-align: center;
  align-self: center;
  clear: both;
  font-size: 30px;
  text-decoration: none;
  color: #111;
  /* text-shadow: 2px 2px rgb(189, 186, 186); */
  border-radius: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: auto;
  width: 50%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.ob-text-field {
  border: 1px solid #b3b3b3;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo {
  padding: 15px 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  display: block;
}

.passwordNotMatched {
  font-style: italic;
  color: coral;
}

.ob-btn {
  padding: 5px 30px;
  border: 1px solid #faedee;
  background-color: #faedee;
  border-radius: 20px;
}

.ob-btn:hover {
  border: 1px solid #fe4c54;
}

.link{
    color: blue;
}
.link:hover{
    cursor: pointer;
    text-decoration: underline;
}
