<div class="login-page">
    <div class="brand-div">
        <a class="navbar-brand" href="#">
            <img src="/assets/icons/bigtree.png" width="30" height="30" class="d-inline-block mb-3" alt="">
            <strong class="brand-text">Login to UrChef</strong>
        </a>
    </div>
    <div class="d-flex flex-column" style="margin: 10px 0;">
        <div
            style="width: 100%;border: 1px solid #d4d5d9;padding: 0;display: block; position: relative;transform: translateZ(0);">
            <input class="_381fS" type="email" name="email" id="email" tabindex="1"
                autocomplete="off" value="" [(ngModel)]="email" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P " for="mobile">Email</label>
        </div>
        <div
            style="width: 100%;border: 1px solid #d4d5d9;padding: 0;display: block; position: relative;transform: translateZ(0);border-top: none;">
            <input class="_381fS" type="password" name="password" id="password" tabindex="2"
                autocomplete="off" value="" [(ngModel)]="password" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P " for="mobile">Password</label>
        </div>
        <div class="_25qBi _2-hTu" (click)="submit()">
            <a class="_2REYC" style="color: #fff;">
                <input type="submit" style="display: none;">Submit
            </a>
        </div>
    </div>
    <div *ngIf="error !== undefined" style="font-weight: normal;font-size: 16px;;text-align: center;display: block;background-color: rgb(241, 215, 215);height: 45px;line-height: 45px;color: #bc3737;">
        <p>{{error}}</p>
    </div>
    <div style="display: block;width: 100%;font-weight: normal;">
        New user? <span (click)="joinUs()">Join Us</span>
    </div>

</div>