<div class="login-page">
    <div class="container-fluid justify-content-center">
        <div class="logo">Log In as a Customer</div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" formControlName="email" class="form-control ob-text-field" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control ob-text-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                    <span *ngIf="loginSuccessful==false" class="passwordNotMatched mb-2">Email and Password are not matched</span>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-sm btn-primary px-5">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                    <p class="mt-3">New user? <a href="/register">create new account</a></p>
                    <button class="btn btn-sm btn-warning" *ngIf="loginSuccessful==false" routerLink="../forgot-password">Forgot Password ?</button>
                </div>
            </form>
        </div>
    </div>
</div>