.login-page {
    margin-top: 70px;
    padding: 30px;
    border-radius: 5px;
    width: 40%;
    background: #ebf3ff;
    border: 1px solid #ebf3ff;
    clear: both;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: block;
}

.passwordNotMatched {
    font-style: italic;
    color: coral;
}

.ob-btn {
    padding: 5px 30px;
    border: 1px solid #faedee;
    background-color: #faedee;
    border-radius: 20px;
}

.ob-btn:hover {
    border: 1px solid #fe4c54;
}