<div class="reset-password-page container-fluid justify-content-center">
    <div class="logo">Reset your password</div>
    <div>
        <!-- Main Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" placeholder="Your registered email address" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" placeholder="Min 8 Chars. At least a number" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />
            </div>
            <div class="form-group">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" placeholder="Min 8 Chars. At least a number" formControlName="repeatPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }" required />
                <span *ngIf="submitted && f.repeatPassword.value !== f.password.value" class="passwordNotMatched mb-2">Password is not matched</span>
            </div>
            <div class="form-group">
                <label for="passCode">Enter the pass code sent to your email</label>
                <input type="text" placeholder="123456" formControlName="passCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passCode.errors }" required />
            </div>
            <button [disabled]="loading" class="btn
                btn-primary ml-3">
                <span *ngIf="loading" class="spinner-border
                    spinner-border-sm mr-1"></span>
                Submit
            </button>
        </form>
        <!-- end:Main Form -->
    </div>
    <div *ngIf="successful" style="display: block;width: 100%;" class="alert alert-success">
        <div style="display: block;width: 100%;">
            <p>Your password has been changed. Click <a href="/login">here</a>to login.</p>
        </div>
    </div>
</div>