.sticky {
  /* position: fixed; */
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: #1b1b1b;
  transition: background-color 1s ease 0s;
}

.brand-name {
  font-weight: 900;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #091F92;
  margin-right: 2px;
  padding: 3px;
  font-style: italic;
}

.nav-item {
  height: 40px;
  line-height: 40px;
  font-weight: 900;
  border-bottom:2px solid #fff;
  padding: 0 10px;
  transition: 0.5s ease-in-out;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom:2px solid #091F92;
  transform: scale(1.01);
}

.rotate {
  transform: rotate(0deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(0deg);
  /* Firefox */
  -moz-transform: rotate(0deg);
  /* IE */
  -ms-transform: rotate(0deg);
  /* Opera */
  -o-transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.nav-right {
  float: right;
  position: relative;
}


.logo-brand-text-big {
  font-size: 30px;
}

.logo-brand-text-2 {
  color: #fc2929;
  font-size: 55px;
  text-decoration: none;
}

.logo-brand-text-3 {
  color: #ffda37;
}


.header-button {
  background: none;
  font-weight: 900;
  margin: 16px 0px 16px 0;
  border: none;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border-bottom: 3px solid #F2F3F4;
}

.header-button:hover {
  cursor: pointer;
  border-bottom: 3px solid #222;
}

.basket-section {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basket-section:hover {
  cursor: pointer;
}

.right-section-text {
  background: none;
  border: none;
  outline: none;
}

.right-section-text:hover {
  cursor: pointer;
}

.account-section {
  width: 50px;
}

.account-section:hover {
  cursor: pointer;
}

.account-icon:hover {
  cursor: pointer;
  color: rgb(0, 187, 115);
}

.username-div {
  padding: 10px;
  background-color: #384557;
  height: 100%;
  margin: 5px;
}

.my-account {
  margin: 0;
  height: 100%;
  padding: 0 10px;
}

.location-section {
  padding: 0 10px;
  opacity: 0.6;
  color: #aaa;
  margin-right: 30px;
}

.location-postcode {
  margin: 13px 0;
}

.top-nav-basket-icon {
  height: 30px;
  width: 30px;
  margin: 10px 5px 20px 0;
  align-items: center;
}

.top-nav-basket-icon:hover {
  cursor: pointer;
  color: rgb(116, 243, 194);
}

.top-nav-basket-count {
  /* background-color: #1a73e8; */
  background-color: #384557;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 11px;
  height: 26px;
  width: 26px;
  line-height: 22px;
  margin-left: -14px;
  margin-bottom: 13px;
  text-align: center;
  visibility: visible;
}

.nav-right-text {
  font-size: 14px;
  border: none;
  outline: none;
  color: #aaa;
  background-color: inherit;
  margin: 0;
}

.nav-right-text:hover {
  cursor: pointer;
}

.united-kingdom-icon {
  height: 20px;
  width: 20px;
  align-self: center;
  margin: 10px;
}

.shopping-cart-icon {
  height: 20px;
  width: 20px;
  align-self: center;
  position: relative;
  top: 24px;
}

.basket-item-count {
  align-self: center;
}

.user-name {
  cursor: pointer;
}