.sticky {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #1b1b1b;
    transition: background-color 1s ease 0s;
    color: white;
}

.logo-brand-text {
    color: white;
    font-size: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    /* text-decoration: none; */
    /* text-shadow: 2px 2px rgb(189, 186, 186); */
    /* color: #1d46ce; */
    /* border-radius: 12px; */
    padding: 0 20px 0 0;
    /* -webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .1); */
    /* box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .1); */
}

.account-section {
    width: 50px;
}

.account-section:hover {
    cursor: pointer;
}

.account-icon {
    height: 35px;
    width: 35px;
    /* -webkit-filter: contrast(50%);
    -moz-filter: contrast(50%);
    filter: url(#contrast);
    filter: contrast(50%);
    margin-bottom: 9px; */
}

.account-icon:hover {
    cursor: pointer;
    color: rgb(0, 187, 115);
}

.account-name {
    width: 300px;
    background-color: black;
}

.top-nav-basket-icon {
    height: 30px;
    width: 30px;
    margin: 16px 5px 9px 0;
}

.top-nav-basket-icon:hover {
    cursor: pointer;
    color: rgb(0, 187, 115);
}

.profile-name {
    font-size: medium;
}