.home {
    margin-top: 10px;
}

.featured-product {
    margin: 0 10px;
}

.featured-tag {
    background-color: #aebec7;
    padding: 10px;
    font-family: 'Fondamento', cursive;
}

.featured-product-inner {
    padding: 20px;
}

.featured-product-left {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.featured-product-name {
    font-size: 35px;
    cursor: pointer;
    font-weight: bolder;
    /* font-family: 'Waiting for the Sunrise', cursive; */
    /* font-family: 'Fondamento', cursive; */
}

.department-bar {
    padding-bottom: 10px;
    margin-top: 80px;
}

.department {
    padding: 5px 20px;
    border: 2px solid #fff;
    background: none;
}

.department:hover {
    cursor: pointer;
    background-color: #aebec7;
}

.featured-product-image {
    height: 400px;
    width: 450px;
    border-radius: 12px;
}

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: none;
    border-bottom: 0.1em solid #fff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    /* box-sizing: border-box; */
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: 300; */
    text-align: center;
    transition: all 0.2s;
    background-color: #FFFFFF;
}

.button1:hover {
    color: #000000;
    border-bottom: 0.1em solid #333;
    /* border: 0.1em solid #4564c7; */
    /* background-color: #aebec7; */
}

@media all and (max-width:30em) {
    .button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.boxed-product-image {
    box-sizing: border-box;
    max-width: 100%;
    height: 300px;
}