<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2EeQ7NRUPra6LjcoX3t374dyJZ7IVMeQ&region=GB&callback=initMap&libraries=&v=weekly" async></script>
<app-header></app-header>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="filter-div">

    </div>
    <div class="list-div">

    </div>
    <div class="map-div">
      <div id="map"></div>
      <!-- <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options" [latitude]="lat"
        [longitude]="lng" (mapClick)="click($event)">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
          [title]="marker.title" [options]="marker.options">
        </map-marker>
        <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker>
      </google-map>
      <div class="map-control">
        <span (click)="zoomIn()" class="map-zoomIn">+</span>
        <span (click)="zoomOut()" class="map-zoomOut">-</span>
      </div> -->
    </div>
  </div>
</div>
