<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2EeQ7NRUPra6LjcoX3t374dyJZ7IVMeQ&region=GB&callback=initMap&libraries=&v=weekly"
  async></script>
<app-header></app-header>
<!-- <app-nav-bar></app-nav-bar> -->
<div class="container d-flex flex-column">

  <div class="ad-container">
    <div class="d-flex justify-content-center align-items-center">
      <img style="margin: 0 10px;" width="260" height="260"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/fwnt49ony3qu8gtrofuv">
      <img style="margin: 0 10px;" width="260" height="260"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/rmpqtbcjncmuptlvxacm">
      <img style="margin: 0 10px;" width="260" height="260"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/zddd8ibq2qu4dfqkuwcu">
    </div>
    <div class="lookup-container d-flex flex-column">
      <span style="font-size: 30px;padding: 10px;">Find chefs</span>
      <span style="font-weight: 300;padding: 10px;">Discover yummy chefs around you</span>
      <div
        style="width: 80%;border: 1px solid #d4d5d9;padding: 0;display: block; position: relative;transform: translateZ(0);">
        <input class="_381fS" type="text" name="serviceArea" id="serviceArea" tabindex="1" autocomplete="off" value=""
          placeholder="Local area, city" [(ngModel)]="localAreaSearchText" #ctrl="ngModel" (keyup.enter)="onEnter()">
        <!-- <div class="_2EeI1 _26LFr"></div> -->
        <label class="_1Cvlf _2tL9P " for="mobile">LOCATION</label>
      </div>

      <div *ngIf="displayAreaSelectionContainer" style="width: 80%;">
        <div style="border:1px solid #e0e0e0;overflow-y: auto;height: 150px;padding:10px;background-color: #fff;">
          <div class="local-area-option" *ngFor="let la of serviceAreaList" (click)="onSelectLocalArea(la)">
            <span>{{ la.name }},{{la.city}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- <div class="searchDiv d-flex flex-start"> -->
  <!-- <form #localAreaLookupForm="ngForm" (ngSubmit)=(onSubmitLocalAreaLookup(localAreaLookupForm))>
      <div style="width: 90%;"> -->
  <!-- <input type="text" class="form-control hcf-lookup-input" id="localArea" placeholder="Enter your local area"
          [(ngModel)]="localAreaSearchText" name="localArea" #localArea="ngModel"> -->
  <!-- </div>
      <div style="width: 10%;">
        <button type="submit" class="submit-button" [disabled]="!localAreaLookupForm.form.valid">Search</button>
      </div>
    </form> -->

  <div class="d-flex justify-content-center align-items-center" style="width: 100%;background-color: #fcde67;"
    *ngIf="selectedLocalArea !== null && selectedLocalArea !== undefined">
    <img src="/assets/icons/pin.png" height="15px" width="15px" style="margin-top: 9px;margin: 0 1px;">
    <span style="align-items: center;font-weight: 400;padding: 8px 3px;font-size: 16px;"> {{selectedLocalArea.name
      }},{{selectedLocalArea.city}}</span>
  </div>
  <div *ngIf="showServiceAreas">
    <span style="font-size: 70px;position: relative;top:49px;left: 30px;opacity: 0.1;margin-bottom: 50px;">Service
      Areas</span>
    <div class="d-flex flex-start wrap"
      *ngIf="serviceAreaList !== undefined && serviceAreaList !== null && serviceAreaList.length> 0">
      <div class="serviceArea" *ngFor="let sa of serviceAreaList" (click)="selectServiceArea(sa)">
        <span>{{sa.name}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="showServiceAreaChefs">
    <span style="font-size: 30px;opacity: 0.6;margin-bottom: 10px; border-bottom: 1px solid #e3e3e3;display: block; padding: 10px 0;line-height: 50px;font-weight: 400;">Popular Chefs</span>
    <div class="d-flex flex-start wrap"
      *ngIf="localChefs !== null && localChefs !== undefined && localChefs.length > 0">
      <div *ngFor="let chef of localChefs" style="margin: 0 0 50px 0;">
        <app-chef-card [chef]="chef"></app-chef-card>
      </div>
    </div>
  </div>

  <div class="bottom-placeholder"></div>
</div>