.checkout-page {
    overflow-y: auto;
    overflow: auto;
}

.header {
    width: 1030px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(239, 248, 248);
    justify-content: center;
    align-items: center;
}

.delivery-address-section {
    width: 400px;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    clear: both;
    height: auto;
}

.payment-section {
    width: 400px;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
}

.basket-section {
    width: 400px;
    padding: 15px;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 10px;
}

.address-section-item {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ececec;
}

.checkout-address-action-div {
    padding: 5px;
}

.address-card {
    display: flex;
    flex-direction: column;
}

.circle {
    border: 1px solid #ececec;
    border-radius: 50%;
    padding: 4px;
    height: 30px;
    width: 30px;
    margin-right: 2px;
}

.circle:hover {
    cursor: pointer;
    background-color: #ececec;
}

.payment-card {
    height: 130px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
    border: 1px solid rgb(240, 240, 240);
}

.payment-card:hover {
    cursor: pointer;
}

.payment-card-details {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.expiry-input {
    width: 60px;
    margin-right: 5px;
}

.cvv-input {
    width: 70px;
    margin-right: 5px;
}

.icon {
    background-color: #fff;
}

.icon:hover {
    background-color: #e7e9ec;
    cursor: pointer;
}

.banner {
    display: block;
    margin: 0 20px;
    clear: both;
    width: 100%;
}

.ob-text-field {
    border: 1px solid #b3b3b3;
}

.item-selected {
    border: 1px solid rgb(41, 170, 51);
}