.checkout-page {
    margin-top: 70px;
    margin-top: 70px;
}

.delivery-address-section {
    width: 400px;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 10px;
}

.payment-section {
    width: 400px;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 10px;
}

.basket-section {
    width: 400px;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 10px;
}

.address-section-item {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ececec;
}

.checkout-address-action-div {
    padding: 5px;
}

.address-card {
    display: flex;
    flex-direction: column;
}

.circle {
    border: 1px solid #ececec;
    border-radius: 50%;
    padding: 4px;
    height: 30px;
    width: 30px;
    margin-right: 2px;
}

.circle:hover {
    cursor: pointer;
    background-color: #ececec;
}

.payment-card {
    color: #111;
    height: 130px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 5px;
}

.payment-card-details {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.expiry-input {
    width: 60px;
    margin-right: 5px;
}

.cvv-input {
    width: 70px;
    margin-right: 5px;
}