.property-card {
  width: 23rem;
  /* width: 224px; */
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid rgb(245, 246, 247);
  height: 296px;
  margin-bottom: 5px;
}
.image-div{
  height: 180px;
}

.property-card-img {
  cursor: pointer;
  border-radius: 8px;
  height: 180px;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.property-card-img:hover {
  transform: scale(1.08);
}
.details-div {
  margin-top: 5px;
}
.feature-cell {
  height: 25px;
  margin: 0 2px;
}
.property-price {
  position: relative;
  top: -19px;
  left: 229px;
  padding: 0 10px;
  color: white;
  background-color: blue;
  font-size: 14px;
  width: 100px;
}

.property-title {
  font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 2px;
    color: #727a7e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.property-address {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 2px;
  color: #727a7e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  opacity: 0.5;
  align-self: center;
}

.feature-value {
  font-size: 14px;
  color: lightslategrey;
  align-self: center;
  margin-right: 10px;
}
