/* menuBar container */

.menuBar {
  overflow: hidden;
  display: flex;
  justify-content: center;
}


/* Links inside the menuBar */

.menuBar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}


/* The dropdown container */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  /* font-size: 12px; */
  border: none;
  outline: none;
  padding: 10px 12px;
  background-color: inherit;
  font: inherit;
  margin: 0;
  text-transform: uppercase;
}


/* Add a red background color to menuBar links on hover */

.menuBar a:hover,
.dropdown:hover .dropbtn {
  /* background-color: #fff; */
  color: rgb(0, 158, 148);
}

.dropdown:hover .dropdown-content {
  display: block;
}

