<app-header></app-header>
<div class="container-fluid">
  <div class="flex-start">
    <div class="nav-section d-flex flex-column">
      <span class="nabvar-heading">Your Account</span>
      <div class="p-3" style="width: 280px;border: 1px solid #fff;">
        <!-- <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-5 fw-semibold">Your Account</span>
        </a> -->
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
              data-bs-target="#home-collapse" aria-expanded="true" style="height: 15px;">
              Personal Details
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ml-1">
                <li><a (click)="showAboutYouModule()" class="link-dark rounded nav-item">Contact</a></li>
                <li><a (click)="showAddressModule()" class="link-dark rounded nav-item">Address</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
              data-bs-target="#dashboard-collapse" aria-expanded="false">
              Login and Security
            </button>
            <div class="collapse show" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ml-1">
                <li><a (click)="showSecurityModule()" class="link-dark rounded nav-item">Security</a></li>
              </ul>
            </div>
          </li>
          <li><a (click)="showOrders()" class="link-dark rounded nav-item" style="margin-left: 27px;">Your Orders</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="detail-section">
      <span class="detail-section-header">{{moduleName}}</span>
      <div class="border-top my-3"></div>
      <div *ngIf="displayAboutYouModule === true" style="width: 400px;">
        <div class="d-flex flex-column" style="margin: 10px 0;">
          <div class="input-div">
            <input class="_381fS" type="email" name="email" id="email" tabindex="1" autocomplete="off" value=""
              [(ngModel)]="customer.email" #ctrl="ngModel" disabled>
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P" for="email">Email</label>
          </div>
          <div class="input-div">
            <input class="_381fS" type="text" name="fullName" id="fullName" tabindex="1" autocomplete="off" value=""
              [(ngModel)]="customer.fullName" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P" for="fullName">Full Name</label>
          </div>
          <div class="input-div">
            <input class="_381fS" type="text" name="mobile" id="mobile" tabindex="3" autocomplete="off" value=""
              [(ngModel)]="customer.contact.mobile" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P " for="mobile">Mobile</label>
          </div>
          <div class="input-div">
            <input class="_381fS" type="text" name="telephone" id="telephone" tabindex="4" autocomplete="off" value=""
              [(ngModel)]="customer.contact.telephone" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P " for="telephone">Telephone</label>
          </div>
          <div class="_25qBi _2-hTu" (click)="onSubmitPersonalDetails()">
            <a class="_2REYC" style="color: #fff;">
              <input type="submit" style="display: none;">Submit
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="displaySecurityModule === true" style="width: 400px;">
        <div class="" *ngIf="!otpGenerated">
          To change your password, Click here to send one-time passcode to your email address. Once you received your one-time passcode please submit with your new password
          <div class="_25qBi _2-hTu" (click)="generateOtp()">
            <a class="_2REYC" style="color: #fff;">
              <input type="submit" style="display: none;">Generate OTP
            </a>
          </div>
        </div>
        <div class="d-flex flex-column" style="margin: 10px 0;" *ngIf="otpGenerated">
          <span style="margin: 10px 0;">Check your email for one-time passcode. <a>Resend</a></span>
          <div class="input-div">
            <input class="_381fS" type="text" name="otp" id="otp" tabindex="1" autocomplete="off" value=""
              [(ngModel)]="otp" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P" for="otp">One-Time passcode</label>
          </div>
          <div class="input-div">
            <input class="_381fS" type="password" name="newPassword" id="newPassword" tabindex="1" autocomplete="off"
              value="" [(ngModel)]="newPassword" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P" for="newPassword">New Password</label>
          </div>
          <div class="input-div">
            <input class="_381fS" type="password" name="confirmPassword" id="confirmPassword" tabindex="3"
              autocomplete="off" value="" [(ngModel)]="confirmPassword" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P " for="confirmPassword">Confirm Password</label>
          </div>
          <div class="_25qBi _2-hTu" (click)="onSubmitChangePassword()">
            <a class="_2REYC" style="color: #fff;">
              <input type="submit" style="display: none;">Submit
            </a>
          </div>
          <div *ngIf="isSuccess" class="alert alert-success d-flex flex-start justify-content-center align-items-center" role="alert" style="margin-top: 20px;">
            <img src="/assets/icons/check-mark.png"  alt="" style="width: 30px;height: 30px;"> {{message}}
          </div>
          <div *ngIf="isError" class="alert alert-warning h-flex justify-content-between wrap" role="alert" style="margin-top: 20px;">
           {{message}}
          </div>
        </div>
      </div>
      <div *ngIf="displayAddressModule === true" style="width: 500px;">
        <div *ngIf="editAddress">
          <div class="d-flex flex-column" style="margin: 10px 0;">
            <div class="input-div">
              <input class="_381fS" type="text" name="addressLine1" id="addressLine1" tabindex="1" autocomplete="off"
                value="" [(ngModel)]="addressLine1" #ctrl="ngModel">
              <div class="_2EeI1 _26LFr"></div>
              <label class="_1Cvlf _2tL9P" for="addressLine1">Address Line1</label>
            </div>
            <div class="input-div">
              <input class="_381fS" type="text" name="addressLine2" id="addressLine2" tabindex="2" autocomplete="off"
                value="" [(ngModel)]="addressLine2" #ctrl="ngModel">
              <div class="_2EeI1 _26LFr"></div>
              <label class="_1Cvlf _2tL9P" for="addressLine2">Address Line2</label>
            </div>
            <div class="input-div">
              <input class="_381fS" type="text" name="city" id="city" tabindex="3" autocomplete="off" value=""
                [(ngModel)]="city" #ctrl="ngModel">
              <div class="_2EeI1 _26LFr"></div>
              <label class="_1Cvlf _2tL9P " for="city">City</label>
            </div>
            <div class="input-div">
              <input class="_381fS" type="text" name="postcode" id="postcode" tabindex="4" autocomplete="off" value=""
                [(ngModel)]="postcode" #ctrl="ngModel">
              <div class="_2EeI1 _26LFr"></div>
              <label class="_1Cvlf _2tL9P " for="postcode">Postcode</label>
            </div>
            <div class="_25qBi _2-hTu" (click)="onSubmitAddress()">
              <a class="_2REYC" style="color: #fff;">
                <input type="submit" style="display: none;">Submit
              </a>
            </div>
          </div>
        </div>

        <div class="address-item" *ngIf="viewAddress">
          <span>{{ address.addressLine1 }}</span>
          <span>{{ address.addressLine2 }}</span>
          <span>{{ address.city }}</span>
          <span>{{ address.country }}</span>
          <span>{{ address.postcode }}</span>
          <div class="h-flex align-items-start wrap my-2">
            <button type="button" class="btn-g mr-1" (click)="editThisAddress()">Edit this
              address</button>
            <button type="button" class="btn-s mr-1" (click)="removeAddress()">Remove this</button>
          </div>
        </div>
      </div>

      <div *ngIf="displayOrdersModule === true">
        <ng-container *ngIf="ordersArray === null || ordersArray === undefined || ordersArray.length === 0; then thenBlock;
                else
                elseBlock">
        </ng-container>
        <ng-template #thenBlock>
          <span class="basket-no-items">
            You have no orders.
          </span>
        </ng-template>
        <ng-template #elseBlock>
          <div style="margin-bottom: 100px;">
            <div *ngFor="let order of ordersArray">
              <!-- <app-order-item [order]=order *ngIf="status === item.status"></app-order-item> -->
              <app-customer-order [order]=order></app-customer-order>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>