#root {
    height: 100%;
}

.brand-new-primary-darkgreen {
    color: #00594c;
}

.brand-new-primary-darkgreen-light {
    color: #038678;
}

.brand-new-primary-darkgreen-lighter {
    color: #00beaa;
}

.brand-new-primary-darkgreen-dark {
    color: #129c00;
}

.brand-new-secondary-brightgreen {
    color: #93c90e;
}

.brand-new-secondary-brightgreen-light {
    color: #b7d96a;
}

.brand-new-secondary-brightgreen-dark {
    color: #649701;
}

.brand-new-secondary-pomegranite {
    color: #f7403a;
}

.brand-new-secondary-white {
    color: #fff;
}

.brand-new-category-mint {
    color: #c8e59a;
}

.brand-new-category-mint-tint50 {
    color: #e3f2cc;
}

.brand-new-category-mint-tint75 {
    color: #d6ecb3;
}

.brand-new-category-powder {
    color: #aacae6;
}

.brand-new-category-powder-tint50 {
    color: #d4e4f2;
}

.brand-new-category-powder-tint75 {
    color: #bfd7ec;
}

.brand-new-category-mango {
    color: #fcd189;
}

.brand-new-category-mango-tint50 {
    color: #fde8c4;
}

.brand-new-category-mango-tint75 {
    color: #fddca6;
}

.brand-new-category-kelp {
    color: #c2dad1;
}

.brand-new-category-kelp-tint50 {
    color: #e0ece8;
}

.brand-new-category-kelp-tint75 {
    color: #d1e3dd;
}

.brand-new-category-blush {
    color: #ffb7ae;
}

.brand-new-category-blush-tint50 {
    color: #ffdbd6;
}

.brand-new-category-blush-tint75 {
    color: #ffc9c2;
}

.brand-new-category-grey-tint75 {
    color: #f2f2f3;
}

.brand-new-category-grey-tint50 {
    color: #f6f6f6;
}

.brand-new-background-grey {
    color: #979797;
}

.brand-new-background-grey-light {
    color: #eeeeef;
}

.brand-new-background-grey-dark {
    color: #585858;
}

.brand-new-background-offwhite {
    color: #f1f1f2;
}

.brand-new-border-grey {
    color: #ccc;
}

.brand-new-error {
    color: #d61616;
}

.brand-new-text-offblack {
    color: #333;
}

.brand-new-primary-cta {
    color: #ec803a;
}

.brand-new-primary-cta-dark {
    color: #d26823;
}

.header-height {
    height: 12rem;
}

.page-background-color {
    color: #fff;
}

.page-text-color {
    color: #333;
}


/** Nav **/

.top-nav-logo {
    height: 45px;
    width: 45px;
}

.navbar-brand-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 45px;
}

.top-nav-search-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
}

.top-nav-search-input {
    height: 30px;
}

.top-nav-search-input:focus {
    border: none;
}

.top-nav-search-input:active {
    border: none;
}

.top-nav-search-icon {
    height: 20px;
    width: 20px;
}

.top-nav-search-icon:hover {
    cursor: pointer;
}

.top-nav-basket-count {
    background-color: #1a73e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    width: 26px;
    line-height: 22px;
    margin-left: -14px;
    margin-bottom: 13px;
    text-align: center;
    /* width: 22px; */
    visibility: visible;
}

.top-nav-basket-total {
    font-size: 16px;
    color: #424443;
}

.sort-icon {
    height: 20px;
    width: 20px;
}

.sort-icon:hover {
    cursor: pointer;
}

.login-page {
    width: 500px;
    margin: 70px auto 0 auto;
}

.register-page {
    width: 500px;
    margin: 70px auto 0 auto;
}

.brand-name {
    padding-top: 7px;
    padding-left: 10px;
    font-size: 25px;
}

.text-normal {
    color: #999;
}

.bg-title {
    background-color: #B2ECED;
    height: 35px;
    font-size: 14px;
}

.selection-box {
    border: 1px solid #c5c5c5;
}

.filter-section-header {
    font-weight: bold;
    text-align: left;
    padding: 10px 20px;
}

.star-active {
    border: 1px solid rgb(184, 184, 184);
    padding: 2;
    color: #37c070;
    cursor: pointer;
    margin: 0 3px 0 0;
}

.star-muted {
    border: 1px solid rgb(168, 166, 166);
    padding: 2;
    color: #cacbcf;
    cursor: pointer;
    margin: 0 3px 0 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000
}


/* Common */

.w-d {
    width: 40px;
    text-align: center;
}

.w-3 {
    width: 30px;
}

.space-around {
    margin: 5px 0;
}

.display-block {
    display: block;
}

.header-block {
    display: block;
    padding: 5px 10px;
}

.heder-title {
    padding: 5px;
    font-size: large;
    color: #111;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-start-left {
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    margin: 0 10px 0 0;
}

.block-section {
    display: block;
    margin: 10px 0;
}

.block-title {
    display: block;
    padding: 5px;
    font-size: medium;
}

.field-name {
    font-size: medium;
    padding: 10px 0;
}

.brand-logo {
    size: 10px;
    height: 30px;
    width: 30px;
}

.basket-count {
    border-radius: 50%;
    background-color: #00FF9B;
    border: .1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}

.nav-section {
    width: 5%;
    float: left;
}

.main-section {
    width: 95%;
    float: left;
}

.product-card {
    display: flex;
    flex-flow: column wrap;
    height: 350px;
    width: 240px;
    margin: 24px 14px;
}

.p-item-price-section {
    height: 40px;
    width: 100%;
    padding: 0 20px 0 0;
    text-align: left;
    margin-bottom: 0px !important;
}

.a-price {
    text-decoration: none;
    position: relative;
    line-height: normal;
}

.p-item-price-currency {
    font-size: 12px !important;
    float: left;
    color: #111 !important;
}

.p-item-price {
    float: left;
    text-align: left;
    font-size: 20px !important;
    color: #111 !important;
    text-decoration: none;
    position: relative;
    line-height: normal;
}

.p-item-price-fraction {
    position: absolute;
    top: 10;
    left: 4;
    font-size: 12px;
    color: #111 !important;
}

.product-rating {
    margin-bottom: 1rem;
}


/* Product Details */

.back-to-result {
    padding: 1rem;
}

.product-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.product-details-image-section {
    flex-basis: 20%;
    order: 0;
    padding: 10px;
}

.product-details-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    z-index: 0;
}

.product-details-info {
    order: 1;
    padding: 3px 10px;
    width: 40%;
}

.product-details-add-to-basket-section {
    align-self: flex-start;
    flex-grow: 1;
    order: 2;
    display: inline-block;
    padding: 3px 10px;
    margin-right: 10px;
}

.product-details-add-to-basket-section li {
    list-style-type: none;
}

.product-details-qty-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.product-details-qty-section input[type=number] {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin: 0 10px 10px 10px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.qty-up,
.qty-down {
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    color: #3f4044;
}

.qty-down {
    /* color: #E67676; */
}

.qty-up:hover {
    cursor: pointer;
    color: green;
}

.qty-down:hover {
    cursor: pointer;
    color: #B12704;
}

.product-details-add-price {
    color: #B12704!important;
    font-size: 17px!important;
    line-height: 1.255!important;
    padding-left: 5px;
}

.product-details-add ul li:last-child {
    display: flex;
    flex-direction: column;
}

.product-details-add-to-basket-button {
    margin: 5rem 0;
    padding: 10px 0;
    width: 200px;
}

.product-details-add-to-basket-button:hover {
    cursor: pointer;
}

.product-details-in-stock {
    font-size: 20px;
    color: darkgreen;
    font-weight: bold;
}

.product-details-no-stock {
    font-size: 20px;
    color: #B12704;
    font-weight: bold;
}

.product-details-info ul,
.product-details-add ul {
    list-style-type: none;
    padding: 0;
}

.product-details-info li,
.product-details-add li {
    margin-bottom: 1rem;
}


/* BASKET PAGE */

.basket-page ul {
    list-style-type: none;
    padding: 0;
}

.basket-page-header {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #eff3f6;
}

.basket-page-title {
    position: absolute;
    left: 0px;
    width: 50%;
    font-size: 15px;
}

.basket-page-proceed-button {
    position: absolute;
    right: 0px;
    width: 50%;
    padding: 7px;
    max-width: 200px;
    margin-right: 10px;
}

.basket-page li {
    display: block;
    margin: 2px 10px;
    height: 70px;
    max-width: 100%;
}

.basket-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.basket-items-container {
    display: inline-block;
}


/** CHECKOUT PAGE */

.checkout-page {
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.checkout-container {
    display: inline-block;
}

.checkout-item-price-n-qty {
    width: 70px;
    text-align: right;
    font-size: 14px;
}

.checkout-item-subtotal {
    width: 70px;
    text-align: right;
}

.address-form-col-1-3 {
    width: 150px;
}

.payment-title {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: large;
    border-bottom: 1px solid #a88734;
}

.card-details {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: large;
    color: #50AF8A;
}

.select-card-type {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: medium;
    margin-top: 30px;
}

.card-type-selection {
    display: flex;
    justify-content: center;
}

.payment-card-icon {
    padding: 10px;
}

.payment-card-icon:hover {
    cursor: pointer;
    background-color: #50AF8A;
}

.card-number-section-title {
    display: block;
    text-align: left;
    padding: 5px;
    font-size: medium;
    margin-top: 10px;
}

.card-number {
    height: 20px;
    width: 50px;
    text-align: left;
    font-size: medium;
    margin: 2px;
}

.card-holder-name {
    height: 20px;
    width: 300px;
    text-align: left;
    font-size: medium;
    margin: 2px;
}

.basket-total-section {
    margin: 0 20px;
}

.basket-total-label {
    font-size: 18px;
}

.basket-total {
    padding: 0 10px;
    color: #2B2D42;
    font-size: 18px;
}


/* -=============== */

.checkout-item {
    border: 1px solid #c5c5c5;
    margin: 0;
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}