<div class="order-confirmation-page">
    <div class="d-flex justify-content-between">
        <h4>Order Confirmation</h4>
        <h3>#{{ orderReferenceNumber }}</h3>
    </div>
    <hr class="mb-4">
    <div class="col mt-5">
        <div class="d-block mb-2">
            Hi <span class="px-1">{{ getFullName() }}</span>,
        </div>
        <div class="d-block mt-3">
            <img src="/assets/icons/check.png" alt="" loading="lazy" class="order-confirmation-icon">
            <span class="success-message px-1"></span>Your order is confirmed!
        </div>
        <div class="d-block mt-3">
            Thanks for shopping! Your order has been successfully placed. You will receive an email with full order summary
        </div>
        <div class="d-block mt-3">
            Your order reference number : <strong class="order-reference-number">{{ orderReferenceNumber }}</strong>
        </div>
    </div>
</div>