<div class="product-item p-item">
    <div class="p-1">
        <img src={{product.picture.thumbnail}} width="100%" height="225" alt="{{product.name}}" class="product-card-image" (click)="selectProduct()">
        <!-- <img src="/assets/icons/product-image.png" width="100%" height="200" alt="{{product.name}}" class="product-card-image" (click)="selectProduct()"> -->
    </div>
    <div class="d-flex flex-column px-2">
        <span class="p-item-name" (click)="selectProduct()">{{ product.name.length > 40 ? product.name.substr(0,40): product.name | titlecase }}</span>
        <div class="p-item-price-section pt-1">
            <span class="p-item-price-currency">£</span>
            <span class="p-item-price">{{ getAmount() }}</span>
            <span class="p-item-price-fraction">{{ getFraction() }}</span>
        </div>
        <!-- <div class="d-flex justify-content-between align-items-center">
            <div *ngIf="product.stock > 0" class="d-flex justify-content-start">
                <select [(ngModel)]="selectedValue" class="selection-box">
                    <option *ngFor="let q of [1,2,3,4,5,6,7,8,9]" [ngValue]="q">{{q}}</option>
                </select>
                <button class="bt-btn-outline px-1 ml-1" (click)="addToCart()" for="inputGroupSelect01">Add</button>
            </div>
            <div *ngIf="basketQty()> 0" class="text-muted">
                <fa-icon [icon]="faShoppingBasket"></fa-icon>
                <small class="px-1">{{basketQty()}}</small>
            </div>
            <div>
                <span class="muted" [class.text-success]="product.stock > 0" [class.text-danger]="product.stock < 1">
                    {{ product.stock > 0 ? "In Stock" : "No Stock"}}
                </span>
            </div>
        </div> -->
        <!-- <div class="d-flex justify-content-between">
            <div>
                <fa-icon [icon]="faStar" size="xs" class="star-active"></fa-icon>
                <fa-icon [icon]="faStar" size="xs" class="star-active"></fa-icon>
                <fa-icon [icon]="faStar" size="xs" class="star-active"></fa-icon>
                <fa-icon [icon]="faStar" size="xs" class="star-active"></fa-icon>
                <fa-icon [icon]="faStar" size="xs" class="star-muted"></fa-icon>
            </div>
        </div> -->
    </div>
    <button class="btn-s px-4 ml-1 mb-2" (click)="addToCart()" for="inputGroupSelect01">Add to Basket</button>
</div>