<div class="d-block">
    <form #f="ngForm" (ngSubmit)=(onSubmit(f))>
        <div class="d-flex justify-content-around">
            <div class="custom-control custom-radio align-self-center">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required (click)="selectType('Credit')">
                <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio align-self-center">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required (click)="selectType('Debit')">
                <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio align-self-center">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required (click)="selectType('Paypal')">
                <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cardName">Name on card</label>
                <input type="text" class="form-control" id="cardName" placeholder="" required [(ngModel)]="card.nameOnCard" name="cardName" #cardName="ngModel">
                <small class="text-muted">Full name as displayed on card</small>
                <div [hidden]="cardName.valid || cardName.pristine" class="alert alert-danger">
                    Please enter a valid name.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cardNumber">Credit card number</label>
                <input type="text" class="form-control" id="cardNumber" placeholder="" required [(ngModel)]="card.cardNumber" name="cardNumber" #cardNumber="ngModel">
                <div [hidden]="cardNumber.valid || cardNumber.pristine" class="alert alert-danger">
                    Please enter a card number.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="expiration">Expiration</label>
                <input type="text" class="form-control" id="expiration" placeholder="DD/YY" required [(ngModel)]="card.expiry" name="expiration" #expiration="ngModel">
                <div [hidden]="expiration.valid || expiration.pristine" class="alert alert-danger">
                    Please enter a card expiration
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" placeholder="" required [(ngModel)]="card.cvv" name="cvv" #cvv="ngModel">
                <div [hidden]="expiration.valid || expiration.pristine" class="alert alert-danger">
                    Please enter a card cvv
                </div>
            </div>
        </div>
    </form>
</div>