<div *ngIf="displaySecurityModule === true" style="width: 400px;">
    <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmitChangePassword()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" formControlName="currentPassword" class="form-control ob-text-field"
          [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.currentPassword.errors }" />
        <div *ngIf="passwordChangeSubmitted && changePasswordForm.currentPassword.errors" class="invalid-feedback">
          <div *ngIf="changePasswordForm.currentPassword.errors.required">Your Current Password is required</div>
        </div>
        <!-- <span *ngIf="passwordChangeSubmitted && isPasswordValid()" class="passwordNotMatched mb-2">Password is not correct</span> -->
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control ob-text-field"
          [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.newPassword.errors }" />
        <small class="text-muted pl-2 py-1">Password must be minimum 8 chars and contain at least a number.</small>
        <div *ngIf="passwordChangeSubmitted && changePasswordForm.newPassword.errors" class="invalid-feedback">
          <div *ngIf="changePasswordForm.newPassword.errors.required">New Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Repeat Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control ob-text-field"
          [ngClass]="{ 'is-invalid': passwordChangeSubmitted && changePasswordForm.confirmPassword.errors }"
          autocomplete="off" />
        <div *ngIf="passwordChangeSubmitted && changePasswordForm.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="changePasswordForm.confirmPassword.errors.required">Repeat Password is required</div>
        </div>
        <span
          *ngIf="passwordChangeSubmitted && changePasswordForm.confirmPassword.value !== changePasswordForm.newPassword.value"
          class="passwordNotMatched mb-2">Password is not matched</span>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn-s btn-load" data-loading-text="Changing Password...">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Change Password
        </button>
      </div>
    </form>
    <div *ngIf="passwordChangeSuccessful==true" class="alert alert-success h-flex justify-content-between wrap"
      role="alert">
      Your password change successful. Remember to login back with your new password.
      <button class="btn-g">Ok</button>
    </div>
  </div>