<div class="food-card">
    <div style="width: 100%;clear: both; display: flex; justify-content: space-between;">
      <div class="d-flex flex-start">
        <img src="/assets/icons/food-item.png" width="100%" height="100%" loading="lazy" alt="{{food.name}}" class="thumbnail-picture">
        <div class="d-flex flex-column ">
          <div class="horizontal">
            <span style="font-weight: 900;padding: 0 5px;font-size: 15px;margin-right: 10px;">{{food.name}}</span>
            <div class="d-flex justify-content-center align-items-center" style="height: 17px;width: 17px;border: 1px solid #46bb4c;" *ngIf="food.vegetarian">
              <span style="height: 8px;width: 8px;border-radius: 50%;background-color: #46bb4c;"></span>
            </div>

            <div style="margin-left: 15px;" class="horizontal">
              <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="food.spice > 0" class="spice"
                  placement="top" ngbTooltip="Mild">
              <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="food.spice > 1" class="spice"
                  placement="top" ngbTooltip="Hot">
              <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="food.spice > 2" class="spice"
                  placement="top" ngbTooltip="Extra Hot">
          </div>

          </div>
          <span style="padding: 5px;">{{food.description}}</span>
        </div>
      </div>
      <div class="d-flex flex-start">
        <span class="food-price">{{food.price | currency: 'GBP'}}</span>
      </div>
    </div>
  </div>
