.product-image-section {
  /* width: 40%; */
}

.product-details-section {
  /* width: 36%; */
}

.product-title {
  font-size: 24px !important;
  line-height: 32px !important;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  margin-top: 10px;
}


.details-right-column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.inc-btn,
.dec-btn {
  background-image: linear-gradient(to bottom, #f5f8f9, #e4e9ea);
  min-height: 24px;
  min-width: 30px;
  padding: 7px 10px;
  border: 1px solid #a0a6ac;
  z-index: 2;
  appearance: none;
}

.qty-value {
  background-color: white;
  border: none;
  padding: 7px 10px;
  border-top: 1px solid #a0a6ac;
  border-bottom: 1px solid #a0a6ac;
  width: 30px;
}

.inc-btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dec-btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.product-price-section {
  background: #f8f8f7;
  border: 1px solid #f5f6f7;
  border-radius: 3px;
  padding: 15px;
  clear: both;
  width: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.write-review-section {
  padding: 15px;
  clear: both;
}

.review-response-section {
  margin-top: 5px;
  padding: 8px;
  border-radius: 6px;
}

.product-review-section {
  border-radius: 3px;
  padding: 15px 0;
  clear: both;
  height: auto;
  overflow-y: hidden;
}

.product-qa-section {
  /* background: #ebf3ff;
    border: 1px solid #ebf3ff;
    border-radius: 3px;
    padding: 15px; */
  clear: both;
  height: auto;
  overflow-y: hidden;
}

.product-question-section {
  display: flex;
  justify-content: start;
  align-items: center;
  background: #fafcff;
  border: 1px solid #ebf3ff;
  border-radius: 8px;
  margin: 5px 0;
  padding: 5px;
}

.star {
  height: 15px;
  width: 15px;
}

.question {
  padding: 10px;
  border: 1px solid #fefefe;
  border-radius: 3px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.answer {
  padding: 10px;
  border: 1px solid #fefefe;
  border-radius: 3px;
  margin: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.product-question-right {
  display: flex;
  flex-direction: column;
}

.qa-username {
  /* padding: 5px 3px; */
  text-align: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
  color: #a0a6ac;
}

.question-user {
  font-weight: bold;
  color: #a0a6ac;
  margin-bottom: 3px;
}

.product-answer-section {
  display: flex;
  background: #f7f7f7;
  border: 1px solid #f1f3f5;
  border-radius: 8px;
  margin-bottom: 10px;
  align-items: center;
  padding: 5px;
  font-weight: normal;
}

.like-button,
.dislike-button {
  margin-left: 10px;
  height: 13px;
  width: 13px;
  align-items: center;
  margin-top: 5px;
}

.like-button:hover {
  cursor: pointer;
}

.dislike-button:hover {
  cursor: pointer;
}

.amount-section {
  padding: 0 20px 0 0;
  text-align: left;
  margin-bottom: 0px !important;
}

.price-currency {
  font-size: 15px !important;
  float: left;
  color: #111 !important;
}

.price {
  float: left;
  text-align: left;
  font-size: 25px !important;
  color: #111 !important;
  text-decoration: none;
  position: relative;
  line-height: normal;
}

.price-fraction {
  position: absolute;
  top: 10;
  left: 4;
  font-size: 15px;
  color: #111 !important;
}

.main-picture-div {
  width: 350px;
  height: 350px;
}

.main-picture {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.product-in-stock {
  margin: 0 0 15px;
  line-height: 1.6em;
  font-weight: normal;
  font-style: italic;
  color: #009698;
}

.product-no-stock {
  margin: 0 0 15px;
  line-height: 1.6em;
  font-weight: normal;
  font-style: italic;
  color: #b62935;
}

.product-details-image-small {
  height: 70px;
  width: 70px;
  padding: 2px;
  border-radius: 10px;
}

.product-details-image-small:hover {
  border: 1px solid #000;
  cursor: pointer;
}

.review-box {
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  padding: 5px 8px;
}

.customer-question-section {
  display: flex;
  flex-direction: column;
}

.review-section-header {
  background-color: #ebf3ff;
  padding: 10px;
  border-radius: 32px;
}
.review-count{
  background-color: #111;
  padding: 2px 6px;
  border-radius: 4px;
  color: #009698;
  margin-left: 5px;
}

.user-initial {
  background-color: rgb(70, 196, 143);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: large;
  color: white;
  padding: 3px 3px;
}
.review-content{
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.review-username {
  display: inline-block;
  font-size: 13px;
  line-height: 7px;
  font-weight: 500;
  margin-left: 5px;
  align-self: center;
}

.review-time {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 500;
  align-self: center;
}

/* .product-details-image-small {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    z-index: 0;
} */
