.product-image-section {
    width: 40%;
}

.product-details-section {
    width: 36%;
}

.details-right-column {
    width: 18%;
    clear: both;
}

.btn-g,
.inc-btn,
.dec-btn {
    background-image: linear-gradient(to bottom, #f5f8f9, #e4e9ea);
    min-height: 24px;
    min-width: 30px;
    padding: 7px 10px;
    border: 1px solid #a0a6ac;
    z-index: 2;
    appearance: none;
}

.qty-value {
    background-color: white;
    border: none;
    padding: 7px 10px;
    border-top: 1px solid #a0a6ac;
    border-bottom: 1px solid #a0a6ac;
    width: 30px;
}

.inc-btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dec-btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.product-price-section {
    background: #f8f8f7;
    border: 1px solid #f5f6f7;
    border-radius: 3px;
    padding: 15px;
    clear: both;
}

.write-review-section {
    background: #ebf3ff;
    border-radius: 3px;
    padding: 15px;
    clear: both;
}

.review-response-section {
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
}

.product-review-section {
    background: #ebf3ff;
    border: 1px solid #ebf3ff;
    border-radius: 3px;
    padding: 15px;
    clear: both;
    height: auto;
    overflow-y: hidden;
}

.amount-section {
    padding: 0 20px 0 0;
    text-align: left;
    margin-bottom: 0px !important;
}

.price-currency {
    font-size: 15px !important;
    float: left;
    color: #111 !important;
}

.price {
    float: left;
    text-align: left;
    font-size: 25px !important;
    color: #111 !important;
    text-decoration: none;
    position: relative;
    line-height: normal;
}

.price-fraction {
    position: absolute;
    top: 10;
    left: 4;
    font-size: 15px;
    color: #111 !important;
}

.main-picture-div {
    width: 350px;
    height: 350px;
}

.main-picture {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.product-in-stock {
    margin: 0 0 15px;
    line-height: 1.6em;
    font-weight: normal;
    font-style: italic;
    color: #009698;
}

.product-no-stock {
    margin: 0 0 15px;
    line-height: 1.6em;
    font-weight: normal;
    font-style: italic;
    color: #b62935;
}

.product-details-image-small {
    height: 70px;
    width: 70px;
    padding: 2px;
    border-radius: 10px;
}

.product-details-image-small:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.review-box {
    border-bottom: 1px solid #fff;
}

.customer-question-section {
    display: flex;
    flex-direction: column;
}


/* .product-details-image-small {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    z-index: 0;
} */