<!-- <div class="container-fluid">


    <div class="bt-page px-5">
        <button (click)="backToResults()" class="btn btn-link">Back to results</button>
    </div>

    <!-- <div class="stacked">
    <div class="content1 stacked-div">
    </div>
    <div class="content2 stacked-div">
    </div>
</div> -->
<div class="stacked">
    <div class="col-4 bt-bg-color-primary stacked-div">
        <div class="d-block">
            <div class="d-flex flex-column m-2">
                <div *ngFor="let pic of product.picture.additional" class="d-inline-block  bt-border bt-radius my-1">
                    <img src={{pic}} alt="{{product.name}}" class="product-details-image-small">
                </div>
            </div>
        </div>
        <div class="d-block">
            <img src="/assets/icons/featured-product.png" alt="{{product.name}}">
            <!-- <div class="product-details-image-section">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src={{product.picture.thumbnail}} alt="{{product.name}}" class="product-details-image">
                            </div>
                        </div>
                        <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div> -->
            <!-- </div> -->
            <!-- </div> -->-->
        </div>
    </div>
    <div class="col-4 bt-bg-color-secondary stacked-div">
        <div class="col px-3">
            <h4>{{ product.name }}</h4>
            {{ product.rating }} ratings | ({{ product.reviews }} Customer Reviews)
            <div class="my-2">
                <strong>Price: </strong>
                <div class="p-item-price-section pt-2">
                    <span class="p-item-price-currency">£</span>
                    <span class="p-item-price">{{ getAmount() }}</span>
                    <span class="p-item-price-fraction">{{ getFraction() }}</span>
                </div>
            </div>
            <div>
                <strong>Brand</strong>
                <p><small>{{ product.brand.name }}</small> </p>
            </div>
            <div>
                <strong>Description</strong>
                <ul>
                    <li *ngFor="let d of product.description">
                        <small>{{ d }}</small>
                    </li>
                </ul>
            </div>
            <div *ngIf="product.storage.length> 0">
                <strong>Storage Instructions</strong>
                <p><small>{{ product.storage }}</small></p>
            </div>
        </div>
    </div>
    <div class="col-4 bt-bg-color-warning stacked-div">
        <span [class.product-details-in-stock]="product.stock> 0" [class.product-details-no-stock]="product.stock <1">
            {{ product.stock > 0 ? "In Stock " : "No Stock "}}
        </span>
        <div class="my-2">
            <div class="p-item-price-section pt-2 text-danger">
                <span class="p-item-price-currency">£</span>
                <span class="p-item-price text-danger">{{
                    getAmount() }}</span>
                <span class="p-item-price-fraction">{{ getFraction()
                    }}</span>
            </div>
        </div>
        <span class="mt-5 mb-3">Quantity:</span>
        <div class="d-flex justify-content-start">
            <div class="basket-item-qty">
                <span class="basket-item-qty-down" (click)="decreaseQuantity()">-</span>
            </div>
            <!-- <fa-icon [icon]="faMinus" class="basket-item-qty-down" size="lg" (click)="decreaseQuantity()"></fa-icon> -->
            <div class="basket-item-qty text-center">
                <span>{{quantity}}</span>
            </div>
            <div class="basket-item-qty">
                <span class="basket-item-qty-up" (click)="increaseQuantity()">+</span>
            </div>
            <small class="tip text-muted pl-2">{{ product.stock}}
                pieces available</small>
        </div>
        <button class="btn btn-warning my-5 self-align-start" [class.disabled]="product.stock
        <1" (click)="addToCart(product)">Add To Basket</button>
    </div>
</div>
</div>
<!-- <div class="container-fluid">
    <div class="h-flex">
        <div class="col-4 flex-horizontal no-wrap">


        </div>



        <div class="col-2 bt-border bt-radius pl-5 py-1 mx-4">
            <div class="d-inline-flex flex-column">

            </div>
        </div>
    </div>
</div> -->-->