.forgot-password-page {
    margin-top: 70px;
    padding: 30px;
    border-radius: 5px;
    width: 600px;
    background: #ebf3ff;
    border: 1px solid #ebf3ff;
    clear: both;
}

.logo {
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: block;
}