<div class="forgot-password-page container-fluid justify-content-center">
    <div class="logo">Forgot your password?</div>
    <div>
        <!-- Main Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div style="display: block;width: 100%;">
                <p>When you fill in your registered email address, you will be sent a pass code to your email.</p>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Your registered email address" formControlName="email" class="form-control" [ngClass]="{
                    'is-invalid': submitted && f.email.errors }" required />
            </div>
            <button [disabled]="loading" class="btn
                btn-primary ml-3">
                <span *ngIf="loading" class="spinner-border
                    spinner-border-sm mr-1"></span>
                Submit
            </button>
            <div class="etc-login-form">
                <p>Already have an account? <a href="/login">login here</a></p>
                <p>New user? <a href="/register">create new account</a></p>
            </div>
        </form>
        <!-- end:Main Form -->
    </div>
</div>