/* You can add global styles to this file, and also import other style files */


/* @import url('https://unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css'); */


/* @import '~angular-tree-component/dist/angular-tree-component.css'; */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Expletus Sans', cursive;
  font-size: 15px;
  line-height: 26px;
  /* font-weight: 400; */
  letter-spacing: 0;
  color: #262633;
}

*:focus {
  outline: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical{
  display: flex;
  flex-direction: column;
}

.horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

.bottom-placeholder {
  height: 100px;
}

.bg-two{
  background-color: #f9f0e9;
}

.blue {
  color: #007bff;
}

.indigo {
  color: #6911dd;
}

.purple {
  color: #6f42c1;
}

.pink {
  color: #e83e8c;
}

.red {
  color: #dc3545;
}

.orange {
  color: #fd7e14;
}

.yellow {
  color: #ffc107;
}

.green {
  color: #28a745;
}

.teal {
  color: #20c997;
}

.cyan {
  color: #17a2b8;
}

.white {
  color: #fff;
}

.gray {
  color: #6c757d;
}

.gray-dark {
  color: #343a40;
}

.primary {
  color: #007bff;
}

.secondary {
  color: #6c757d;
}

.success {
  color: #28a745;
}

.info {
  color: #17a2b8;
}

.warning {
  color: #f3b600;
}

.danger {
  color: #dc3545;
}

.light {
  color: #f8f9fa;
}

.dark {
  color: #343a40;
}

*,
*:before,
*:after {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* text Box 
.input-div {
  width: 100%;
  border: 1px solid transparent;
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px !important;
  padding: 0;
  display: block;
  position: relative;
  transform: translateZ(0);
  margin: 5px 0;
  border-radius: 12px;
  cursor: pointer;
  animation-delay: 400ms;
}
*/
.input-div {
  width: 100%;
  border: 1px solid #ededf4;
  /* box-shadow: rgb(34 34 34) 0px 0px 0px 2px !important; */
  padding: 0;
  display: block;
  position: relative;
  transform: translateZ(0);
  margin: 5px 0;
  /* border-radius: 12px; */
  cursor: pointer;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
  background: white;
}

.input-div:hover {
  cursor: pointer;
  border: 1px solid #212529;
}

._381fS {
  background-color: transparent;
  line-height: normal;
  outline: none;
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  padding-top: 22px;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  font-size: 18px;
}

._26LFr {
  -ms-transform: translateY(70%);
  transform: translateY(70%);
}

._25qBi {
  position: relative;
  clear: both;
}

._2-hTu {
  clear: both;
  margin-top: 20px;
}

._2tL9P {
  font-weight: 500;
  color: #7e808c;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

._1Cvlf {
  position: absolute;
  left: 0;
  bottom: 24px;
  padding-left: 20px;
  line-height: 20px;
  cursor: text;
  transition: .2s ease;
  width: 100%;
  color: rgb(90, 90, 90);
  will-change: transform, color, font-size;
  pointer-events: none;
  font-weight: 400;
  cursor: pointer;
}

._2EeI1 {
  position: absolute;
  right: 20px;
  bottom: 26px;
  font-weight: 500;
  color: #5d8ed5;
  transform: translateZ(0);
  cursor: pointer;
  will-change: transform;
  transition: .2s ease;
}

._2REYC {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  line-height: 40px;
  font-weight: 600;
  height: 40px;
  padding: 0 2rem;
  letter-spacing: 0;
  color: #fff;
  background-color: #595461;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 6px;
}


.btn-normal {
  border: 2px solid #fff;
  color: #111;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.btn-normal:hover {
  border: 2px solid #ffa601;
  color: #111;
  cursor: pointer;
}

.btn-ok {
  border: 1px solid #ffa601;
  color: #111;
  display: inline-block;
  padding: 5px 9px;
}

.btn-ok:hover {
  background-color: #ffa601;
  color: #111;
  cursor: pointer;
}

.btn-cancel {
  border: 1px solid #222;
  color: #111;
  display: inline-block;
  padding: 5px 9px;
}

.btn-cancel:hover {
  background-color: #222;
  color: #fff;
  cursor: pointer;
}

.btn-normal-selected {
  background-color: #ffa601;
  color: #fff;
}

.icon-div {
  background: none;
  margin-right: 20px;
  height: 40px;
  line-height: 40px;
  max-width: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon-div:hover {
  cursor: pointer;
  background-color: #ffa601;
}

.cursor-pointer {
  cursor: pointer;
}

.normal {
  font-weight: normal;
}

.sm {
  font-size: smaller;
}

.text-italic {
  font-style: italic;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-grey {
  color: rgb(83, 83, 83);
}

.color-yellow {
  color: #ffe01b
}

.bg-yellow {
  background-color: #ffe01b;
}

.bg-blue {
  background: #ebf3ff;
  border: 1px solid #ebf3ff;
}

.bg-info {
  background: #d8efef;
}

/** Font Size */

.size-sm {
  font-size: small;
}

.size-md {
  font-size: medium;
}

.size-lg {
  font-size: large;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.bold {
  font-weight: bolder;
}

.bg-success {
  background-color: #f1fef2;
  border-color: #97e59c;
}

.alert-info {
  background-color: #fefbf0;
  border-color: #ffe08a;
}

.alert-warning {
  border-color: #fcb4b4;
  background-color: #ffebeb;
}

.search-box-yellow {
  /* padding: 12px; */
  border-radius: 3px;
  border: 1px solid;
  background: #febb02;
  background: -webkit-gradient(linear, left top, left bottom, from(#febb02), to(#febb02));
  background: -webkit-linear-gradient(top, #febb02 0, #febb02 100%);
  background: linear-gradient(to bottom, #febb02 0, #febb02 100%);
  border-color: #cd8900;
  font-size: 13px;
}

/** Buttons */
.highlight {
  background: #FFF;
  border-radius: 3px;
  border-color: #D5D9D9;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}

.highlight:hover {
  cursor: pointer;
  background-color: #DDD;
}

.btn-g {
  background-image: linear-gradient(to bottom, #f5f8f9, #e4e9ea);
  min-height: 20px;
  max-height: 30px;
  line-height: 30px;
  min-width: 30px;
  padding: 0 10px;
  border: 1px solid #a0a6ac;
  z-index: 2;
  appearance: none;
  margin: 5px 5px 0 0;
  border-radius: 5px;
}

.btn-g:hover {
  background-image: linear-gradient(to bottom, #e1e3e4, #d0d1d1);
  cursor: pointer;
}

.btn-p {
  background-image: linear-gradient(to bottom, #ff2c2c, #ca220c);
  min-height: 20px;
  min-width: 30px;
  padding: 10px;
  border: 1px solid #ca220c;
  z-index: 2;
  appearance: none;
  margin: 5px 5px 0 0;
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
}

.btn-p:hover {
  background-image: linear-gradient(to bottom, #ff2c2c, #ca220c);
  cursor: pointer;
}

.btn-s {
  background-image: linear-gradient(to bottom, #f0c14b, #f3c143);
  min-height: 20px;
  max-height: 30px;
  line-height: 30px;
  min-width: 30px;
  padding: 0 10px;
  border: 1px solid #a0a6ac;
  z-index: 2;
  appearance: none;
  margin: 5px 5px 0 0;
  border-radius: 5px;
}

.btn-s:hover {
  background-image: linear-gradient(to bottom, #f8c646, #fcc334);
  cursor: pointer;
}

.ob-btn-fill {
  background-color: #ffe01b;
  border-radius: 5px;
  border: none;
}

.ob-btn-fill:hover {
  background-color: #fddb00;
  cursor: pointer;
}

.ob-btn:hover {
  background-color: #ffe01b;
  cursor: pointer;
}

.ob-btn {
  background-color: #fff;
  border: 5px solid #ffe01b;
}

.ob-btn:hover {
  background-color: #ffe01b;
}

.ob-btn-sm {
  padding: 5px;
}

.ob-btn-md {
  padding: 10px;
}

.ob-btn-lg {
  padding: 20px;
}


/** Layout */

.bt-box {
  width: 31%;
}

.margin-10 {
  margin: 10px;
}

.bt-bg-color-primary {
  /* background-color: #437ae9; */
  /* height: 300px; */
  margin: 10px;
}

.bt-bg-color-secondary {
  /* background-color: #ADB1B8; */
  /* height: 300px; */
  margin: 10px;
}

.bt-bg-color-warning {
  background-color: orange;
  height: 300px;
  margin: 10px;
}

.bt-page {
  margin-top: 70px;
}

.tiffin {
  display: flex;
  flex-wrap: wrap;
}

.h-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.v-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.flex-horizontal {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.d-inline-block {
  display: inline-block;
}

.border-box {
  box-sizing: border-box;
}

.align-center {
  align-items: center;
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.flex-vertical {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.bt-text-light {
  color: #5f6368;
}

.span2 {
  background-color: #437ae9;
  height: 30px;
}

.span10 {
  background-color: #212529;
  height: 30px;
}

.text-primary {
  color: #00a4a6 !important;
}

.text-secondary {
  color: #ff9a00;
}

.bg-primary {
  background-color: #ff4747;
  color: #f2f2f2;
}

.bg-secondary {
  background-color: #ff9a00;
  color: #f2f2f2;
}

.border-primary {
  border: 1px solid #ff4747;
}

.border-secondary {
  border: 1px solid #ff9a00;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 40px;
  font-size: large;
}

.curved {
  border-radius: 4px;
}

.box-shadow {
  -webkit-box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .1);
}

.button-shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.26);
}

.tip {
  font-size: 12px;
}

.card-name {
  position: relative;
  top: 10px;
  right: 6px;
  font-size: large;
}

.bt-radius-t {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bt-radius-tr {
  border-top-right-radius: 8px;
}

.bt-radius-tl {
  border-top-left-radius: 8px;
}

.bt-radius-b {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bt-radius-bl {
  border-bottom-left-radius: 8px;
}

.bt-radius-br {
  border-bottom-right-radius: 8px;
}

.bt-radius {
  border-radius: 8px;
}

.bt-border-primary {
  border: 1px solid #ff4747;
}

.bt-border {
  border: 1px solid #ececec;
}

.bt-border-y {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.bt-border-x {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.bt-border-r {
  border-right: 1px solid #ececec;
}

.bt-border-b {
  border-bottom: 1px solid #ececec;
}

.bt-border-t {
  border-top: 1px solid #ececec;
}

.bt-border-l {
  border-left: 1px solid #ececec;
}

.ob-text-field {
  border-radius: 4px;
  padding: 10px;
  height: 40px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9e9e9;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: 40px;
}

.bt-input,
.btn-input-large {
  width: 40px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #5f6368;
}

.btn-input-large {
  width: 300px;
}

.bt-btn {
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: .625rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-width: 0;
  display: inline-block;
  min-height: 2.75rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0 solid transparent;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  cursor: pointer;
  outline: 0;
}

.bt-btn-primary {
  background: rgb(211, 211, 211) !important;
  border: 4px solid rgb(2, 124, 118) !important;
  padding: 10px 30px;
  box-shadow: none;
  border-radius: 10px;
}

.bt-btn-primary:hover {
  color: rgb(27, 27, 27);
}

.bt-btn,
.bt-btn-outline {
  border-radius: 2px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 3px 9px;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}

.bt-btn-outline {
  background: #e7e9ec;
}

.bt-btn:hover {
  background: #d7d9db;
}

.bt-btn-outline:hover {
  background: #fdfdfd;
  box-shadow: 0 0 4px grey;
}

.btn-group-xs>.btn,
.btn-xs {
  padding: .5rem .2rem;
  font-size: .875rem;
  line-height: .5;
}

.bt-link {
  border: 0 solid transparent;
  border-radius: 16px;
  color: #423f3f;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 8px 12px;
}

.bt-link:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(5, 5, 5, 0.15);
}

.bt-font-medium {
  font-size: 20px;
}

.input-small {
  height: 21px;
  line-height: 21px;
}

.text-right-align {
  text-align: right;
}

.bt-bg-light {
  background-color: #ececec;
}

.list-group-item {
  border-bottom: 1px solid #f4f4f4;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.delivery-address-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.previous-address-container {
  width: 600px;
  height: 100px;
}

.address-container {
  width: 600px;
  height: 600px;
}

.price {
  white-space: nowrap;
  font-size: 13px;
  color: #b12704;
}

.input-small {
  width: 50px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  background-color: red;
  border-color: red;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* The custom check */

.bt-check {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-top: -5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
  font-weight: normal;
}


/* Hide the browser's default checkbox */

.bt-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom checkbox */

.tick {
  position: absolute;
  top: 1px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  border-radius: 50% !important;
}


/* On mouse-over, add a border color */

.bt-check:hover input~.tick {
  border: 1px solid #ff4747;
}


/* When the checkbox is checked, set background */

.bt-check input:checked~.tick {
  border: 1px solid #ff4747;
  background-color: #ff4747;
}


/* Create the tick/indicator (hidden when not checked) */

.tick:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the tick when checked */

.bt-check input:checked~.tick:after {
  display: block;
}


/* Style the tick/indicator */

.bt-check .tick:after {
  left: 5px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bt-grid {
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-top: 150px;
  display: grid;
  grid-gap: 0.5rem;
}

.bt-card {
  padding: 1rem;
  height: 4rem;
  align-content: center;
}

#pointer {
  padding: 9px 19px 9px 40px;
  height: 40px;
  position: relative;
  background: rgb(255, 238, 0);
  text-align: center;
  color: #fff;
}

#pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}