<app-header></app-header>
<div class="container d-flex flex-column">

  <div style="margin-bottom:20px;margin-top:20px;line-height:40px;height: 40px;"
    class="d-flex flex-start align-items-center">
    <div class="icon-div" style="width: 10%;">
      <img src="/assets/icons/left-arrow-long.png" height="20px" width="20px" (click)="back()">
    </div>

    <div  style="width: 90%;width: 90%;display: flex;justify-content: center;">
      <span style="font-weight: 500;font-size:35px;">Your Chefs</span>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="margin: 40px 0;">
    <div ngbDropdown class="d-inline-block" style="margin: 10px;">
      <span id="dropdownBasic1" ngbDropdownToggle><span style="font-size: 17px;">FILTER</span></span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">HIGHLY RATED</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">NEW</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">OFFERS</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block" style="margin: 10px;">
      <span id="dropdownBasic1" ngbDropdownToggle><span style="font-size: 17px;">CUISINE</span></span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">South Indian</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">Punjabi</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">North Indian</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">Marati</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">Bengali</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">Kerala</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block" style="margin: 10px;">
      <span id="dropdownBasic1" ngbDropdownToggle><span style="font-size: 17px;">SLOTS</span></span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">Breakfast</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">Lunch</button>
        <button ngbDropdownItem style="height: 25px;line-height: 25px;">Dinner</button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-start wrap" *ngIf="localChefs !== null && localChefs !== undefined && localChefs.length > 0">
    <div *ngFor="let chef of localChefs" style="margin: 0 0 50px 0;">
      <app-chef-card [chef]="chef"></app-chef-card>
    </div>
  </div>
</div>