<style>
    @import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
</style>
<app-header></app-header>
<div class="d-flex justify-content-center" style="overflow-y: hidden;">

    <div class="between" style="width: 80%;">
        <div style="width: 80%;height: 100vh;" class="vertical">
            <div class="horizontal" style="background-color: #f1f1f1;">
                <div class="vertical align-items-center"
                    style="padding:25px 10px; width: 40%;">
                    <img src="/assets/icons/shop.png" style="height: 20px;width: 20px;">
                    <span  class="f-bolder" style="font-size: 20px;padding: 10px 0 10px 0;">{{localChef !== null && localChef !== undefined ? localChef.displayName: ''}}</span>
                    <span
                        style="font-weight: 400;display: block;font-size: 12px;word-break: break-all;text-align: center;"
                        class="wrap">{{localChef !== null && localChef !== undefined ? getAddress(): ''}}</span>
                    <div class="d-flex flex-start">
                        <img [src]="starSelected" style="width: 15px;height: 15px;margin-top: 5px;">
                        <span> . </span>
                        <span>{{localChef !== null && localChef !== undefined ? localChef.reviews : 0}} reviews</span>
                    </div>
                </div>
                <div class="vertical" style="padding: 10px; width: 30%;">
                    <div class="vertical" style="width: 100%;padding: 10px; border-bottom: 1px solid #f2f2f2;">
                        <strong style="font-size: 17px;">Specials</strong>
                        <div
                            *ngIf="localChef !== null && localChef !== undefined && localChef.specials !== null && localChef.specials !== undefined && localChef.specials.length > 0">
                            <span *ngFor="let special of localChef.specials"
                                style="padding: 0 10px 0 0;font-weight: 300;">{{special}}</span>
                        </div>
                    </div>
                    <div class="vertical" style="width: 100%;padding: 10px; border-bottom: 1px solid #f2f2f2;">
                        <strong style="font-size: 17px;">Slots</strong>
                        <div
                            *ngIf="localChef !== null && localChef !== undefined  && localChef.slots !== null && localChef.slots !== undefined && localChef.slots.length > 0">
                            <span *ngFor="let slot of localChef.slots" style="padding: 0 10px 0 0;">{{slot}}</span>
                        </div>
                    </div>
                    <div class="vertical" style="width: 100%;padding: 10px; border-bottom: 1px solid #f2f2f2;" *ngIf="localChef !== null && localChef !== undefined">
                        <strong style="font-size: 17px;">Service areas</strong>
                        <span *ngFor="let serviceArea of localChef.serviceAreas"
                            style="padding: 0;margin-right: 10px;">{{serviceArea.name}},
                            {{serviceArea.city}}</span>
                    </div>
                </div>
                <div class="vertical" style="padding: 10px;margin:0 30px 0 10px;border: 1px solid #222;padding: 15px; width: 30%;" *ngIf="localChef !== null && localChef !== undefined">
                    <div class="between">
                        <span>FREE DELIVERY<small style="margin-left: 5px;">over</small></span>
                        <span>{{localChef.freeDeliveryOver | currency: 'GBP'}}</span>
                    </div>
                    <div class="between">
                        <span>MINIMUM ORDER<small style="margin:0 5px;">for</small>DELIVERY</span>
                        <span>{{localChef.deliveryMinimum | currency: 'GBP'}}</span>
                    </div>
                    <div class="horizontal" *ngIf="localChef.minimumOrder === 0">
                        <img src="/assets/icons/percentage.png" style="width: 15px;height: 15px;margin-right: 5px;">
                        <span>NO MINIMUM ORDER</span>
                    </div>
                    <div class="horizontal" *ngIf="localChef.partyOrders">
                        <img src="/assets/icons/percentage.png" style="width: 15px;height: 15px;margin-right: 5px;">
                        <span>TAKING PARTY ORDERS</span>
                    </div>
                </div>
            </div>
            <div class="horizontal" *ngIf="localChef !== null && localChef !== undefined">
                <div class="vertical"
                    style="width: 20%;margin-right: 10px;height: 100vh;border-right: 1px solid #f2f2f2;">
                    <div class="vertical" style="margin:10px;border-bottom: 1px solid #f2f2f2;margin-bottom: 30px;">
                        <span class="menuType" (click)="select('thisWeek')" [class.selected]="isSelected('thisWeek')"
                            style="margin-bottom: 10px;">This Week</span>
                        <span class="menuType" (click)="select('allTime')" [class.selected]="isSelected('allTime')">All
                            Time</span>
                    </div>
                    <span style="text-align: right;display: block;" *ngFor="let category of localChef.categories"
                        class="category" (click)="onSelectCategory($event, category)"
                        [class.selectedCategory]="isSelectedCategory(category)">{{category}}</span>
                </div>
                <div style="width: 80%;height: 100vh;" class="vertical">
                    <div *ngIf="selectedMenu === 'thisWeek'">
                        <div class="d-flex flex-column" style="margin: 10px 0;" *ngFor="let cal of calendars">
                            <span style="font-size: 17px;padding: 10px 0;font-weight: 500;">Order by {{ cal.orderBefore
                                |
                                date : 'EE
                                d
                                LLL'}}</span>
                            <p>
                                {{cal.description}}
                            </p>
                            <div class="d-flex flex-column">
                                <app-food-card [food]="food" *ngFor="let food of cal.foods"></app-food-card>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedMenu === 'allTime'">
                        <div class="vertical">
                            <app-food-card [food]="food" *ngFor="let food of foods_to_display"></app-food-card>
                        </div>
                    </div>
                </div>
                <div style="height: 400px;"></div>
            </div>
        </div>
        <div style="width: 20%;padding: 10px;height: 100vh;">
            <div
                *ngIf="(foodOrder === null || foodOrder === undefined || foodOrder.items === null || foodOrder.items === undefined || foodOrder.items.length === 0); then thenBlock else elseBlock">
            </div>
            <ng-template #thenBlock>
                <div class="d-flex flex-column" style="padding: 10px 4px;">
                    <span class="f-bolder"
                        style="align-self: center;font-size: 30px;padding: 10px 0;display: block;text-align: center;">Cart
                        Empty</span>
                    <span style="color: #535665;font-weight: 400;">What are you waitin for?! Go ahead, order some
                        yummy items from the menu</span>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <!-- <div class="d-flex flex-column" style="padding: 10px 0;"> -->
                <div class="vertical">
                    <span class="f-bolder"
                        style="font-size: 30px;align-self: center;text-align: center;display: block;padding: 18px 0;border-bottom: 1px solid #e3e3e3;">Your
                        Order</span>
                    <div *ngIf="foodOrder !== undefined" style="overflow-y: auto; padding: 5px;display: block;">
                        <app-food-order-item [item]="item" [displayImage]="false" [displayDeleteOption]="true"
                            *ngFor="let item of foodOrder.items"></app-food-order-item>
                        <div class="d-flex flex-between align-items-center my-3">
                            <span style="font-weight: bold;font-size: 13px;">Subtotal <br><span class="small">Additional
                                    charges may apply</span></span>
                            <span
                                style="font-size: 14px;align-self: center;vertical-align: middle;font-weight: bold;">{{foodOrder.subTotal
                                | currency: 'GBP'}}</span>
                        </div>
                    </div>
                    <button ngbAutofocus class="btn btn-md btn-primary" (click)="confirmOrder()">CHECKOUT</button>
                </div>

            </ng-template>
        </div>
    </div>


</div>
<div style="height: 400px;"></div>